<article class="cont_pd_wrap">

    <nav class="tuan_pic" id="js_pic">
        <img alt="" onerror="javascript:noPic(this);" src="http://images4.c-ctrip.com/target/tuangou/043/368/396/8bf6ccdc157245ff91dc5b1e2da5c690_640_360.jpg">

        <p><strong>4</strong>张</p>

    </nav>

    <nav class="tuan_info" id="js_Mst">
        <p class="tuan_price"><dfn>¥</dfn><strong>99</strong>

            <span class="cost">原价¥219</span></p>
        <p class="num">已售27333份</p>

        <button class="btn_tuan" id="js_submit">马上团</button>
        <p class="endday" id="js_timer">剩余  3天以上</p>


    </nav>
    <nav class="tuan_info" id="js_MstTemp" style="display:none;height:50px;">
    </nav>
    <nav class="tuan_name">
        <h5>新春如家莫泰99元多店通用（多房型）</h5> <p></p>
    </nav>


    <ul class="tuan_tag">


        <li>未消费退款</li>

        <li>过期返还</li>

        <li>不满意免单</li>

        <li>真实评论</li>

    </ul>

    <div class="tuan_title">包含项目</div>
    <nav class="tuan_content">
        <div>
            1、多房型（大床/双床）1晚住宿；</div>

    </nav>
    <div class="tuan_title ">特别提示</div>

    <nav class="tuan_content arr_r js_tips " data-id="2">请提前1天预约;
        ● 本产品不支持电话预约，只接受在线查询和预约；
        ●入住日期必须在线进行预约，入住当日请提供酒店前台在线预约时的入住人姓名及出示带有...</nav>

    <ul class="subblist">
        <li class="arr_r" id="js_branch">
            <span class="subb_room i_bef">查看分店信息</span>
            <span class="othertxt">1953家分店</span>
        </li>
        <li class="arr_r js_tips" data-id="3">
            <span class="subb_light i_bef">团购亮点</span>
        </li>
    </ul>





    <a class="linktips arr_r js_tips" data-id="4">团购温馨提示</a>
    <br>
</article>