<header>
    <h1>距离</h1><i id="js_return" class="returnico"></i>
</header>
<section class="cont_wrap clearfix" style="height:100%;" id="filterBox">


</section>
<script type="text/template" id="filterTpl">
    <ul class="filter_r jsPrice">
        <li data-id="|0.5" data-filter="distance" class="<%=typeof val != "undefined" && val=="|0.5"?"choosed":"" %>" data-name="500米内">500米内</li>
        <li data-id="0.6|1" data-filter="distance" class="<%=typeof val != "undefined" && val=="0.6|1"?"choosed":"" %>" data-name="1公里内">1公里内</li>
        <li data-id="1.1|2" data-filter="distance" class="<%=typeof val != "undefined" && val=="1.1|2"?"choosed":"" %>" data-name="2分里内">2分里内</li>
        <li data-id="2.1|4" data-filter="distance" class="<%=typeof val != "undefined" && val=="2.1|4"?"choosed":"" %>" data-name="4公里内">4公里内</li>
        <li data-id="4.1|8" data-filter="distance" class="<%=typeof val != "undefined" && val=="4.1|8"?"choosed":"" %>" data-name="8公里内"> 8公里内</li>
        <li data-id="8.1|10" data-filter="distance" class="<%=typeof val != "undefined" && val=="8.1|10"?"choosed":"" %>" data-name="10分里内">10分里内</li>
    </ul>
</script>