<header>
    <!--<b class="" id="">搜索</b>-->
   <!--<a class="icon_search">搜索</a>-->
    <h1 id="J_headerTitle">团购酒店</h1><i id="js_return" class="returnico"></i>
    <a class="icon-search" id="J_keywordSearch" href="###">搜索</a>
</header>
<section class="cont_wrap b60"> 
   <!-- <ul class="tab_by">
        <li id="selCity">上海<i></i></li>
        <li id="filter">筛选<span class="tuan_filter"></span></li>
        <li id="orderby" data-order="0" tabindex="0"><span class="tab_haspop jsSortName">默认排序</span><i></i>
            <div id="selOrder" class="tab_pop">
                <p data-id="2" data-type="1">默认排序</p>
                <p data-id="1" data-type="1">最新开团</p>
                <p data-id="3" data-type="1">销量从高到低</p>
                <p data-id="4" data-type="1">折扣从高到低</p>
                <p data-id="5" data-type="1">价格从高到低</p>
                <p data-id="5" data-type="2">价格从低到高</p>
                <p data-id="6" data-type="1">点评分从高到低</p>
            </div>
        </li>
    </ul>-->
    <section id="lstbox"></section>
</section>
 <div id="in_footer" class="fix_bottom">
     <ul class="tab_search">
         <li id="J_categoryTrigger" tabindex="0">
             <span class="tab_haspop" id="J_categoryLabel">团购类型</span><i></i>
             <div id="J_categoryPanel" class="tab_pop tuan-category">
                 <p data-id="2" data-type="0" data-category='all'>不限</p>
                 <p data-id="1" data-type="1" data-category='hotel'>酒店客房</p>
                 <p data-id="3" data-type="2" data-category='catering'>餐饮娱乐</p>
                 <p data-id="4" data-type="3" data-category='vacation'>旅游出行</p>
                 <p data-id="5" data-type="4" data-category='ticket'>门票</p>
             </div>
         </li>
         <li>位置区域</li>
         <li id="J_customFilters">筛选</li>
         <li id="J_sortTrigger" tabindex="0">
             <span class="tab_haspop" id="J_sortLabel">默认排序</span><i></i>
             <div id="J_sortPanel" class="tab_pop">
                 <p data-id="2" data-type="1">默认排序</p>
                 <p data-id="1" data-type="1">最新开团</p>
                 <p data-id="3" data-type="1">销量从高到低</p>
                 <p data-id="4" data-type="1">折扣从高到低</p>
                 <p data-id="5" data-type="1">价格从高到低</p>
                 <p data-id="5" data-type="2">价格从低到高</p>
                 <p data-id="6" data-type="1">点评分从高到低</p>
             </div>
         </li>
     </ul>
     <!--<ul class="tab_search">
        <li class="tab_hotel jsHotel">酒店查询</li>
        <li  class="tabcrt">团购酒店</li>
    </ul>-->
 </div>
<script type="text/template" id="listtpl">
<%if(products && products.length>0 && count && +count > 0) {%> <ul class="pro_list"><%
for(var i=0,len=products.length;i<len;i++){
var p=products[i];
%>
  <li class="arr_r" data-id="<%=p.id %>" data-len="<%=products.length %>" data-count="<%=count %>">
        <figure class="pro_list_imgbox">
            <img data-img="<%=i %>" onerror="javascript:noPic(this);" src="<%=p.imgUrl?p.imgUrl:'http://res.m.ctrip.com/html5/content/images/roomPic.png?v=2.1' %>"/>
            <figcaption class="figcaption">
            <%if(p.labelVal && +p.labelVal>0 && p.labelTxt && p.labelTxt.length>0){%>
            <i><%=p.labelTxt %></i><%} %><span>已售<%=p.cSold %>份</span></figcaption>
        </figure>
        <div class="pro_list_info">
            <h4 class="pro_list_tit ellips_line2"><%=p.name %></h4>
            <p class="pro_list_rank"><%if(+p.score>0){%><span class="cblue"><i><%=p.score %></i>分</span><%} %> <%=p.star %></p>
            <p class="pro_list_oldprice" data-discount="<%=p.price.discount %>"><del data-price="<%=p.price.cPrice %>">原价&yen;<%=p.price.sPrice %></del> <%=+p.price.discount<=0?"0.0折":+p.price.discount>0 && +p.price.discount<10?p.price.discount+"折":"0.0折"  %></p>
            <div class="pro_list_prv">
                <p class="pro_list_price">&yen;<i><%=p.price.price %></i>
                 <%if(p.activities && p.activities.length>0){
                   for(var j in p.activities){
                   if(p.activities[j].type && +p.activities[j].type==1){
                 %>
                -<em><%=p.activities[j].arg %></em>
                <% break; }}} %>
                </p>
                <%if(p.activities && p.activities.length>0){
                for(var j in p.activities){
                var a=p.activities[j]; 
                if(a && a.type && +a.type>0){
                if(+a.type==1){
                %>
                <i class="pro_list_prvicon">立减</i>
                <%}
                 if((+a.type==2 || +a.type==3) && +a.arg>0){
                %>
                <i class="pro_list_prvicon">返</i>
                <b class="pro_list_prvprice">¥<%=a.arg%></b>
                <%}} }}%>
            </div>
        </div>
    </li>
    <%}%></ul><%}else{ if(typeof msg != "undefined" &&  msg){%>
         <div class="cui-load-fail cui-text-center">
                <div class="cui-load-error">
                     <div class="i cui-wifi cui-exclam"></div>
                </div>
                <p class="cui-grayc"><%=msg %></p>
                <div class="cui-glines"></div>
                <p class="cui-grayc">或者拨打携程客服电话</p>
                <a href="tel:4000086666" <span="" class="cui-btns-tel"><i class="icon_phone i_bef"></i>联系客服</a>
            </div>
    <%}}%>
</script>
<script>
    function noPic($img) {
        if ($img) {
            $img.src = "http://res.m.ctrip.com/html5/Content/images/roomPic.png?v=2.1";
            $img.onerror = null;
        }
    }
</script>