<section class="b60">
    <ul class="tab_by">
        <li id="selCity">上海<i></i></li>
        <li id="filter">筛选<span class="tuan_filter"></span></li>
        <li id="orderby" data-order="0" tabindex="0"><span class="tab_haspop jsSortName">默认排序</span><i></i>
            <div id="selOrder" class="tab_pop">
                <p data-id="2" data-type="1">默认排序</p>
                <p data-id="1" data-type="1">最新开团</p>
                <p data-id="3" data-type="1">销量从高到低</p>
                <p data-id="4" data-type="1">折扣从高到低</p>
                <p data-id="5" data-type="1">价格从高到低</p>
                <p data-id="5" data-type="2">价格从低到高</p>
                <p data-id="6" data-type="1">点评分从高到低</p>
            </div>
        </li>
    </ul>
    <section id="lstbox">
        <ul class="pro_list" id="J_hotelList">

        </ul>
    </section>
</section>