<section class="cont_wrap b60">
    <ul class="tab_by">
        <li id="selCity">上海<i></i></li>
        <li id="filter">筛选<span class="tuan_filter"></span></li>
        <li id="orderby" data-order="0" tabindex="0"><span class="tab_haspop jsSortName">默认排序</span><i></i>
            <div id="selOrder" class="tab_pop">
                <p data-id="2" data-type="1">默认排序</p>
                <p data-id="1" data-type="1">最新开团</p>
                <p data-id="3" data-type="1">销量从高到低</p>
                <p data-id="4" data-type="1">折扣从高到低</p>
                <p data-id="5" data-type="1">价格从高到低</p>
                <p data-id="5" data-type="2">价格从低到高</p>
                <p data-id="6" data-type="1">点评分从高到低</p>
            </div>
        </li>
    </ul>
    <section id="lstbox">
        <ul class="pro_list" id="J_hotelList">
            <li class="arr_r" data-id="119281" data-len="25" data-count="1889">
                <figure class="pro_list_imgbox">
                    <img data-img="0" onerror="javascript:noPic(this);" src="http://images4.c-ctrip.com/target/tuangou/929/419/743/25f788af9d464469b5023a094db3d2a6_130_130.jpg">
                    <figcaption class="figcaption">
                        <span>已售27159份</span></figcaption>
                </figure>
                <div class="pro_list_info">
                    <h4 class="pro_list_tit ellips_line2">新春如家莫泰99元多店通用（多房型）</h4>
                    <p class="pro_list_rank"> </p>
                    <p class="pro_list_oldprice" data-discount="4.5"><del data-price="219">原价¥219</del> 4.5折</p>
                    <div class="pro_list_prv">
                        <p class="pro_list_price">¥<i>99</i>

                        </p>

                    </div>
                </div>
            </li>
        </ul>
    </section>
</section>