<header>
    <h1>类型</h1><i id="js_return" class="returnico"></i>
</header>
<section class="cont_wrap clearfix" style="height:100%;" id="filterBox">


</section>
<script type="text/template" id="filterTpl">
    <ul class="filter_r jsPrice">
        <li data-id="1" data-filter="distance" class="<%=typeof val != "undefined" && val=="1"?"choosed":"" %>" data-name="不限">不限</li>
        <li data-id="2" data-filter="distance" class="<%=typeof val != "undefined" && val=="2"?"choosed":"" %>" data-name="餐饮">餐饮</li>
        <li data-id="3" data-filter="distance" class="<%=typeof val != "undefined" && val=="3"?"choosed":"" %>" data-name="娱乐">娱乐</li>
        <li data-id="4" data-filter="distance" class="<%=typeof val != "undefined" && val=="4"?"choosed":"" %>" data-name="消费卡">消费卡</li>
    </ul>
</script>