/**
 * Extend list
 * 1. box-flex
 */

/* --------------------------
   1. flexbox-display
   -------------------------- */
%display-flex {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
}

/* --------------------------
   1. text-overflow:ellipsis
   -------------------------- */
%ellips {
   white-space:nowrap; 
   overflow:hidden; 
   text-overflow:ellipsis;
}



%before-after {
    position:absolute;
    content:"";
    top:50%;
    left:50%;
}