/**
 * Extend List
 * flexbox-display
 * text-overflow:ellipsis
 * horizontal and vertical center
 */

/* --------------------------
   flexbox-display
   -------------------------- */
%display-flex {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
}

/* --------------------------
   text-overflow:ellipsis
   -------------------------- */
%ellips {
   white-space:nowrap; 
   overflow:hidden; 
   text-overflow:ellipsis;
}

/* --------------------------
   horizontal and vertical center
   -------------------------- */
%hor-ver-center {
    position:absolute;
    top:50%;
    left:50%;
}