/**
 * Mixins list
 * 1. box-flex
 */

/* -------------------------
   1. box-flex
   -------------------------- */
@mixin flexbox-num($flex-num){
   -webkit-box-flex: $flex-num;
      -moz-box-flex: $flex-num;
       -webkit-flex: $flex-num;
           -ms-flex: $flex-num;
               flex: $flex-num;
}

@mixin border-radius($border-num){
   -webkit-border-radius: $border-num;
      -moz-border-radius: $border-num;
           border-radius: $border-num;
}



/* -------------------------
   2. Transformations
   -------------------------- */
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
      -ms-transform: rotate($degrees); // IE9+
          transform: rotate($degrees);
}
@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
     -moz-transform-origin: $origin;
          transform-origin: $origin;
}

/* -------------------------
   animation
   -------------------------- */