/**
 * Type       warning404
 * @file£:    c.ui.warning404.scss
 * @author:   byzuo 
 * @update:   2013-12-12
 * 
 */

@import "c.ui.variables","c.ui.extend","c.ui.mixins";

.cui-i{
    background:url(#{$pathfile-test}c.ui.img.png) no-repeat;
    background-size:150px 125px;
}

.cui-breaking-load {
     width:80px;
     height:70px;
     border-radius: 5px;
     background:rgba(0,0,0,.7);
     margin:auto;
     position: $position-relative;
     z-index:9999;
     .cui-w-loading {
        position: $position-absolute;
        width:50px;
        height:50px;
        left:50%;
        top:50%;
        margin:-25px 0 0 -25px; 
        background-position:-101px 0;
      }
      .cui-white-logo {
        position: $position-absolute; 
        width:25px;
        height:28px;
        left:50%;
        top:50%; 
        z-index:9;
        margin:-15px 0 0 -15px;
        background-position:-24px 0;
      }
 }

.cui-w-loading {
    -webkit-animation:cui-loading 1.58s linear infinite;
    -moz-animation:cui-loading 1.58s linear infinite;
    -ms-animation:cui-loading 1.58s linear infinite;
    animation:cui-loading 1.58s linear infinite;
    @include transform-origin(50% 49%);
    opacity:0;
}
.cui-b-loading{
    -webkit-animation:cui-loading 1.58s linear infinite;
    -moz-animation:cui-loading 1.58s linear infinite;
    -ms-animation:cui-loading 1.58s linear infinite;
    animation:cui-loading 1.58s linear infinite;
    @include transform-origin(46% 47%);
    opacity:0;
}
@-webkit-keyframes cui-loading{
    0%{
        opacity:1;
        -webkit-transform:rotate(0deg);
    }
    100%{
        opacity:1;
        -webkit-transform:rotate(360deg);
    }
}
@-moz-keyframes cui-loading{
    0%{
        opacity:1;
        -webkit-transform:rotate(0deg);
    }
    100%{
        opacity:1;
        -webkit-transform:rotate(360deg);
    }
}
@-ms-keyframes cui-loading{
    0%{
        opacity:1;
        -webkit-transform:rotate(0deg);
    }
    100%{
        opacity:1;
        -webkit-transform:rotate(360deg);
    }
}
@keyframes cui-loading{
    0%{
        opacity:1;
        -webkit-transform:rotate(0deg);
    }
    100%{
        opacity:1;
        -webkit-transform:rotate(360deg);
    }
}
.cui-zl-load {
    width:110px;
    margin:5px auto;
    position: $position-relative;
    p { 
        padding-left:25px;
        color:#878787;
    }
    .cui-b-loading {
        width:20px;
        height:20px;
        position: $position-absolute;
        background-position:-73px 0;
    }
    .cui-blue-logo { 
        width:12px;
        height:12px;
        left:4px;
        top:4px;
        position: $position-absolute;
        background-position:-57px 0;
    }
}



