/**
 * Type       alert
 * @file£º    c.ui.alert.scss
 * @author:   byzuo 
 * @update:   2013-12-12
 * 
 */

@import "c.ui.common","c.ui.variables","c.ui.extend","c.ui.mixins";


.cui-error-tips {
	color: $font-color-black;
	padding: $padding-base-v * 2;
	text-align: $text-align-center; 
}

