@charset "UTF-8";
/**
 * Type       warning404
 * @file£:    c.ui.warning404.scss
 * @author:   byzuo 
 * @update:   2013-12-12
 * 
 */
/**
 * Variables list
 * 1. Color 
 * 2. Font
 * 3. Text-align
 * 4. Position
 * 5. Z-index
 * 6. Box Model
 * 7. Button Color
 */
/* -------------------------
   1. Color
   -------------------------- */
/* -------------------------
   2. Font
   ------------------------- */
/* -------------------------
   3. Text-align
   ------------------------- */
/* -------------------------
   4. Position
   ------------------------- */
/* -------------------------
   5. Z-index
   ------------------------- */
/* -------------------------
   6. Box Model
   ------------------------- */
/* -------------------------
   7. Button Color
   ------------------------- */
/* -------------------------
   8. Proportion
   ------------------------- */
/**
 * Extend list
 * 1. box-flex
 */
/* --------------------------
   1. flexbox-display
   -------------------------- */
/* --------------------------
   1. text-overflow:ellipsis
   -------------------------- */
/**
 * Mixins list
 * 1. box-flex
 */
/* -------------------------
   1. box-flex
   -------------------------- */
/* -------------------------
   2. Transformations
   -------------------------- */
/* -------------------------
   animation
   -------------------------- */
/* line 11, ../sass/c.ui.loading.scss */
.cui-i {
  background: url(../img/c.ui.img.png) no-repeat;
  background-size: 150px 125px;
}

/* line 16, ../sass/c.ui.loading.scss */
.cui-breaking-load {
  width: 80px;
  height: 70px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  margin: auto;
  position: relative;
  z-index: 9999;
}
/* line 24, ../sass/c.ui.loading.scss */
.cui-breaking-load .cui-w-loading {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
  background-position: -101px 0;
}
/* line 33, ../sass/c.ui.loading.scss */
.cui-breaking-load .cui-white-logo {
  position: absolute;
  width: 25px;
  height: 28px;
  left: 50%;
  top: 50%;
  z-index: 9;
  margin: -15px 0 0 -15px;
  background-position: -24px 0;
}

/* line 45, ../sass/c.ui.loading.scss */
.cui-w-loading {
  -webkit-animation: cui-loading 1.58s linear infinite;
  -moz-animation: cui-loading 1.58s linear infinite;
  -ms-animation: cui-loading 1.58s linear infinite;
  animation: cui-loading 1.58s linear infinite;
  -webkit-transform-origin: 50% 49%;
  -moz-transform-origin: 50% 49%;
  transform-origin: 50% 49%;
  opacity: 0;
}

/* line 53, ../sass/c.ui.loading.scss */
.cui-b-loading {
  -webkit-animation: cui-loading 1.58s linear infinite;
  -moz-animation: cui-loading 1.58s linear infinite;
  -ms-animation: cui-loading 1.58s linear infinite;
  animation: cui-loading 1.58s linear infinite;
  -webkit-transform-origin: 46% 47%;
  -moz-transform-origin: 46% 47%;
  transform-origin: 46% 47%;
  opacity: 0;
}

@-webkit-keyframes cui-loading {
  /* line 62, ../sass/c.ui.loading.scss */
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }

  /* line 66, ../sass/c.ui.loading.scss */
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes cui-loading {
  /* line 72, ../sass/c.ui.loading.scss */
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }

  /* line 76, ../sass/c.ui.loading.scss */
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
  }
}

@-ms-keyframes cui-loading {
  /* line 82, ../sass/c.ui.loading.scss */
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }

  /* line 86, ../sass/c.ui.loading.scss */
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
  }
}

@keyframes cui-loading {
  /* line 92, ../sass/c.ui.loading.scss */
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }

  /* line 96, ../sass/c.ui.loading.scss */
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
  }
}

/* line 101, ../sass/c.ui.loading.scss */
.cui-zl-load {
  width: 110px;
  margin: 5px auto;
  position: relative;
}
/* line 105, ../sass/c.ui.loading.scss */
.cui-zl-load p {
  padding-left: 25px;
  color: #878787;
}
/* line 109, ../sass/c.ui.loading.scss */
.cui-zl-load .cui-b-loading {
  width: 20px;
  height: 20px;
  position: absolute;
  background-position: -73px 0;
}
/* line 115, ../sass/c.ui.loading.scss */
.cui-zl-load .cui-blue-logo {
  width: 12px;
  height: 12px;
  left: 4px;
  top: 4px;
  position: absolute;
  background-position: -57px 0;
}
