@charset "UTF-8";
/**
 * Type       c.ui
 * @file£:    c.ui.scss
 * @author:   byzuo 
 * @update:   2013-12-12
 * 
 */
/**
 * Variables list
 * 1. Color 
 * 2. Font
 * 3. Text-align
 * 4. Position
 * 5. Z-index
 * 6. Box Model
 * 7. Button Color
 */
/* -------------------------
   1. Color
   -------------------------- */
/* -------------------------
   2. Font
   ------------------------- */
/* -------------------------
   3. Text-align
   ------------------------- */
/* -------------------------
   4. Position
   ------------------------- */
/* -------------------------
   5. Z-index
   ------------------------- */
/* -------------------------
   6. Box Model
   ------------------------- */
/* -------------------------
   7. Button Color
   ------------------------- */
/* -------------------------
   8. Proportion
   ------------------------- */
/**
 * Extend list
 * 1. box-flex
 */
/* --------------------------
   1. flexbox-display
   -------------------------- */
/* line 9, ../sass/c.ui.extend.scss */
.cui-roller,
.cui-roller-btns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* --------------------------
   1. text-overflow:ellipsis
   -------------------------- */
/* line 20, ../sass/c.ui.extend.scss */
.cui-select-view li, .cui-roller .ul-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 28, ../sass/c.ui.extend.scss */
.cui-wifi:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
}

/**
 * Mixins list
 * 1. box-flex
 */
/* -------------------------
   1. box-flex
   -------------------------- */
/* -------------------------
   2. Transformations
   -------------------------- */
/* -------------------------
   animation
   -------------------------- */
/**
 * Type       common
 * @file£:    c.ui.common.scss
 * @author:   byzuo 
 * @update:   2013-12-12
 * 
 */
/**
 * Variables list
 * 1. Color 
 * 2. Font
 * 3. Text-align
 * 4. Position
 * 5. Z-index
 * 6. Box Model
 * 7. Button Color
 */
/* -------------------------
   1. Color
   -------------------------- */
/* -------------------------
   2. Font
   ------------------------- */
/* -------------------------
   3. Text-align
   ------------------------- */
/* -------------------------
   4. Position
   ------------------------- */
/* -------------------------
   5. Z-index
   ------------------------- */
/* -------------------------
   6. Box Model
   ------------------------- */
/* -------------------------
   7. Button Color
   ------------------------- */
/* -------------------------
   8. Proportion
   ------------------------- */
/**
 * Extend list
 * 1. box-flex
 */
/* --------------------------
   1. flexbox-display
   -------------------------- */
/* line 9, ../sass/c.ui.extend.scss */
.cui-roller,
.cui-roller-btns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* --------------------------
   1. text-overflow:ellipsis
   -------------------------- */
/* line 20, ../sass/c.ui.extend.scss */
.cui-select-view li, .cui-roller .ul-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 28, ../sass/c.ui.extend.scss */
.cui-wifi:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
}

/**
 * Mixins list
 * 1. box-flex
 */
/* -------------------------
   1. box-flex
   -------------------------- */
/* -------------------------
   2. Transformations
   -------------------------- */
/* -------------------------
   animation
   -------------------------- */
/* line 12, ../sass/c.ui.common.scss */
.cui-pop-box {
  background: white;
  position: relative;
  margin: auto;
  width: 280px;
  z-index: 9999;
}

/* line 20, ../sass/c.ui.common.scss */
.cui-pop-box .cui-hd {
  height: 40px;
  line-height: 40px;
  font-size: 16.8px;
  color: white;
  background: #1491c5;
  padding: 0 10px;
  position: relative;
}

/* line 36, ../sass/c.ui.common.scss */
.cui-roller-bd,
.cui-roller-btns .cui-flexbd {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* line 42, ../sass/c.ui.common.scss */
.cui-roller-btns {
  background: #f5f5f5;
  padding: 10px 15px;
  line-height: 18px;
  text-align: center;
}
/* line 48, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-flexbd {
  padding: 10px 0;
  color: white;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 54, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-flexbd:active {
  opacity: .75;
}
/* line 58, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-flexbd:nth-of-type(2) {
  margin-left: 20px;
}
/* line 62, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-btns-cancel {
  background: darkgrey;
}
/* line 66, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-btns-sure {
  background: #ff9913;
}

/**
 * Type       alert
 * @file£º    c.ui.alert.scss
 * @author:   byzuo 
 * @update:   2013-12-12
 * 
 */
/**
 * Type       common
 * @file£:    c.ui.common.scss
 * @author:   byzuo 
 * @update:   2013-12-12
 * 
 */
/**
 * Variables list
 * 1. Color 
 * 2. Font
 * 3. Text-align
 * 4. Position
 * 5. Z-index
 * 6. Box Model
 * 7. Button Color
 */
/* -------------------------
   1. Color
   -------------------------- */
/* -------------------------
   2. Font
   ------------------------- */
/* -------------------------
   3. Text-align
   ------------------------- */
/* -------------------------
   4. Position
   ------------------------- */
/* -------------------------
   5. Z-index
   ------------------------- */
/* -------------------------
   6. Box Model
   ------------------------- */
/* -------------------------
   7. Button Color
   ------------------------- */
/* -------------------------
   8. Proportion
   ------------------------- */
/**
 * Extend list
 * 1. box-flex
 */
/* --------------------------
   1. flexbox-display
   -------------------------- */
/* line 9, ../sass/c.ui.extend.scss */
.cui-roller,
.cui-roller-btns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* --------------------------
   1. text-overflow:ellipsis
   -------------------------- */
/* line 20, ../sass/c.ui.extend.scss */
.cui-select-view li, .cui-roller .ul-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 28, ../sass/c.ui.extend.scss */
.cui-wifi:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
}

/**
 * Mixins list
 * 1. box-flex
 */
/* -------------------------
   1. box-flex
   -------------------------- */
/* -------------------------
   2. Transformations
   -------------------------- */
/* -------------------------
   animation
   -------------------------- */
/* line 12, ../sass/c.ui.common.scss */
.cui-pop-box {
  background: white;
  position: relative;
  margin: auto;
  width: 280px;
  z-index: 9999;
}

/* line 20, ../sass/c.ui.common.scss */
.cui-pop-box .cui-hd {
  height: 40px;
  line-height: 40px;
  font-size: 16.8px;
  color: white;
  background: #1491c5;
  padding: 0 10px;
  position: relative;
}

/* line 36, ../sass/c.ui.common.scss */
.cui-roller-bd,
.cui-roller-btns .cui-flexbd {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* line 42, ../sass/c.ui.common.scss */
.cui-roller-btns {
  background: #f5f5f5;
  padding: 10px 15px;
  line-height: 18px;
  text-align: center;
}
/* line 48, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-flexbd {
  padding: 10px 0;
  color: white;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 54, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-flexbd:active {
  opacity: .75;
}
/* line 58, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-flexbd:nth-of-type(2) {
  margin-left: 20px;
}
/* line 62, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-btns-cancel {
  background: darkgrey;
}
/* line 66, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-btns-sure {
  background: #ff9913;
}

/**
 * Variables list
 * 1. Color 
 * 2. Font
 * 3. Text-align
 * 4. Position
 * 5. Z-index
 * 6. Box Model
 * 7. Button Color
 */
/* -------------------------
   1. Color
   -------------------------- */
/* -------------------------
   2. Font
   ------------------------- */
/* -------------------------
   3. Text-align
   ------------------------- */
/* -------------------------
   4. Position
   ------------------------- */
/* -------------------------
   5. Z-index
   ------------------------- */
/* -------------------------
   6. Box Model
   ------------------------- */
/* -------------------------
   7. Button Color
   ------------------------- */
/* -------------------------
   8. Proportion
   ------------------------- */
/**
 * Extend list
 * 1. box-flex
 */
/* --------------------------
   1. flexbox-display
   -------------------------- */
/* line 9, ../sass/c.ui.extend.scss */
.cui-roller,
.cui-roller-btns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* --------------------------
   1. text-overflow:ellipsis
   -------------------------- */
/* line 20, ../sass/c.ui.extend.scss */
.cui-select-view li, .cui-roller .ul-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 28, ../sass/c.ui.extend.scss */
.cui-wifi:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
}

/**
 * Mixins list
 * 1. box-flex
 */
/* -------------------------
   1. box-flex
   -------------------------- */
/* -------------------------
   2. Transformations
   -------------------------- */
/* -------------------------
   animation
   -------------------------- */
/* line 12, ../sass/c.ui.alert.scss */
.cui-error-tips {
  color: black;
  padding: 20px;
  text-align: center;
}

/**
 * Type       warning404
 * @file£:    c.ui.warning404.scss
 * @author:   byzuo 
 * @update:   2013-12-12
 * 
 */
/**
 * Variables list
 * 1. Color 
 * 2. Font
 * 3. Text-align
 * 4. Position
 * 5. Z-index
 * 6. Box Model
 * 7. Button Color
 */
/* -------------------------
   1. Color
   -------------------------- */
/* -------------------------
   2. Font
   ------------------------- */
/* -------------------------
   3. Text-align
   ------------------------- */
/* -------------------------
   4. Position
   ------------------------- */
/* -------------------------
   5. Z-index
   ------------------------- */
/* -------------------------
   6. Box Model
   ------------------------- */
/* -------------------------
   7. Button Color
   ------------------------- */
/* -------------------------
   8. Proportion
   ------------------------- */
/**
 * Extend list
 * 1. box-flex
 */
/* --------------------------
   1. flexbox-display
   -------------------------- */
/* line 9, ../sass/c.ui.extend.scss */
.cui-roller,
.cui-roller-btns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* --------------------------
   1. text-overflow:ellipsis
   -------------------------- */
/* line 20, ../sass/c.ui.extend.scss */
.cui-select-view li, .cui-roller .ul-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 28, ../sass/c.ui.extend.scss */
.cui-wifi:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
}

/**
 * Mixins list
 * 1. box-flex
 */
/* -------------------------
   1. box-flex
   -------------------------- */
/* -------------------------
   2. Transformations
   -------------------------- */
/* -------------------------
   animation
   -------------------------- */
/* line 11, ../sass/c.ui.loading.scss */
.cui-i {
  background: url(../img/c.ui.img.png) no-repeat;
  background-size: 150px 125px;
}

/* line 16, ../sass/c.ui.loading.scss */
.cui-breaking-load {
  width: 80px;
  height: 70px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  margin: auto;
  position: relative;
  z-index: 9999;
}
/* line 24, ../sass/c.ui.loading.scss */
.cui-breaking-load .cui-w-loading {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
  background-position: -101px 0;
}
/* line 33, ../sass/c.ui.loading.scss */
.cui-breaking-load .cui-white-logo {
  position: absolute;
  width: 25px;
  height: 28px;
  left: 50%;
  top: 50%;
  z-index: 9;
  margin: -15px 0 0 -15px;
  background-position: -24px 0;
}

/* line 45, ../sass/c.ui.loading.scss */
.cui-w-loading {
  -webkit-animation: cui-loading 1.58s linear infinite;
  -moz-animation: cui-loading 1.58s linear infinite;
  -ms-animation: cui-loading 1.58s linear infinite;
  animation: cui-loading 1.58s linear infinite;
  -webkit-transform-origin: 50% 49%;
  -moz-transform-origin: 50% 49%;
  transform-origin: 50% 49%;
  opacity: 0;
}

/* line 53, ../sass/c.ui.loading.scss */
.cui-b-loading {
  -webkit-animation: cui-loading 1.58s linear infinite;
  -moz-animation: cui-loading 1.58s linear infinite;
  -ms-animation: cui-loading 1.58s linear infinite;
  animation: cui-loading 1.58s linear infinite;
  -webkit-transform-origin: 46% 47%;
  -moz-transform-origin: 46% 47%;
  transform-origin: 46% 47%;
  opacity: 0;
}

@-webkit-keyframes cui-loading {
  /* line 62, ../sass/c.ui.loading.scss */
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }

  /* line 66, ../sass/c.ui.loading.scss */
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes cui-loading {
  /* line 72, ../sass/c.ui.loading.scss */
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }

  /* line 76, ../sass/c.ui.loading.scss */
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
  }
}

@-ms-keyframes cui-loading {
  /* line 82, ../sass/c.ui.loading.scss */
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }

  /* line 86, ../sass/c.ui.loading.scss */
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
  }
}

@keyframes cui-loading {
  /* line 92, ../sass/c.ui.loading.scss */
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }

  /* line 96, ../sass/c.ui.loading.scss */
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
  }
}

/* line 101, ../sass/c.ui.loading.scss */
.cui-zl-load {
  width: 110px;
  margin: 5px auto;
  position: relative;
}
/* line 105, ../sass/c.ui.loading.scss */
.cui-zl-load p {
  padding-left: 25px;
  color: #878787;
}
/* line 109, ../sass/c.ui.loading.scss */
.cui-zl-load .cui-b-loading {
  width: 20px;
  height: 20px;
  position: absolute;
  background-position: -73px 0;
}
/* line 115, ../sass/c.ui.loading.scss */
.cui-zl-load .cui-blue-logo {
  width: 12px;
  height: 12px;
  left: 4px;
  top: 4px;
  position: absolute;
  background-position: -57px 0;
}

/**
 * Type       scroll.radio.list 
 * @file:     c.ui.scroll.radio.list.scss
 * @author:   byzuo
 * @update:   2013-12-12
 * 
 */
/**
 * Type       common
 * @file£:    c.ui.common.scss
 * @author:   byzuo 
 * @update:   2013-12-12
 * 
 */
/**
 * Variables list
 * 1. Color 
 * 2. Font
 * 3. Text-align
 * 4. Position
 * 5. Z-index
 * 6. Box Model
 * 7. Button Color
 */
/* -------------------------
   1. Color
   -------------------------- */
/* -------------------------
   2. Font
   ------------------------- */
/* -------------------------
   3. Text-align
   ------------------------- */
/* -------------------------
   4. Position
   ------------------------- */
/* -------------------------
   5. Z-index
   ------------------------- */
/* -------------------------
   6. Box Model
   ------------------------- */
/* -------------------------
   7. Button Color
   ------------------------- */
/* -------------------------
   8. Proportion
   ------------------------- */
/**
 * Extend list
 * 1. box-flex
 */
/* --------------------------
   1. flexbox-display
   -------------------------- */
/* line 9, ../sass/c.ui.extend.scss */
.cui-roller,
.cui-roller-btns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* --------------------------
   1. text-overflow:ellipsis
   -------------------------- */
/* line 20, ../sass/c.ui.extend.scss */
.cui-select-view li, .cui-roller .ul-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 28, ../sass/c.ui.extend.scss */
.cui-wifi:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
}

/**
 * Mixins list
 * 1. box-flex
 */
/* -------------------------
   1. box-flex
   -------------------------- */
/* -------------------------
   2. Transformations
   -------------------------- */
/* -------------------------
   animation
   -------------------------- */
/* line 12, ../sass/c.ui.common.scss */
.cui-pop-box {
  background: white;
  position: relative;
  margin: auto;
  width: 280px;
  z-index: 9999;
}

/* line 20, ../sass/c.ui.common.scss */
.cui-pop-box .cui-hd {
  height: 40px;
  line-height: 40px;
  font-size: 16.8px;
  color: white;
  background: #1491c5;
  padding: 0 10px;
  position: relative;
}

/* line 36, ../sass/c.ui.common.scss */
.cui-roller-bd,
.cui-roller-btns .cui-flexbd {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* line 42, ../sass/c.ui.common.scss */
.cui-roller-btns {
  background: #f5f5f5;
  padding: 10px 15px;
  line-height: 18px;
  text-align: center;
}
/* line 48, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-flexbd {
  padding: 10px 0;
  color: white;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 54, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-flexbd:active {
  opacity: .75;
}
/* line 58, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-flexbd:nth-of-type(2) {
  margin-left: 20px;
}
/* line 62, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-btns-cancel {
  background: darkgrey;
}
/* line 66, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-btns-sure {
  background: #ff9913;
}

/**
 * Variables list
 * 1. Color 
 * 2. Font
 * 3. Text-align
 * 4. Position
 * 5. Z-index
 * 6. Box Model
 * 7. Button Color
 */
/* -------------------------
   1. Color
   -------------------------- */
/* -------------------------
   2. Font
   ------------------------- */
/* -------------------------
   3. Text-align
   ------------------------- */
/* -------------------------
   4. Position
   ------------------------- */
/* -------------------------
   5. Z-index
   ------------------------- */
/* -------------------------
   6. Box Model
   ------------------------- */
/* -------------------------
   7. Button Color
   ------------------------- */
/* -------------------------
   8. Proportion
   ------------------------- */
/**
 * Extend list
 * 1. box-flex
 */
/* --------------------------
   1. flexbox-display
   -------------------------- */
/* line 9, ../sass/c.ui.extend.scss */
.cui-roller,
.cui-roller-btns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* --------------------------
   1. text-overflow:ellipsis
   -------------------------- */
/* line 20, ../sass/c.ui.extend.scss */
.cui-select-view li, .cui-roller .ul-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 28, ../sass/c.ui.extend.scss */
.cui-wifi:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
}

/**
 * Mixins list
 * 1. box-flex
 */
/* -------------------------
   1. box-flex
   -------------------------- */
/* -------------------------
   2. Transformations
   -------------------------- */
/* -------------------------
   animation
   -------------------------- */
/* line 12, ../sass/c.ui.scroll.radio.list.scss */
.cui-select-view li {
  border-bottom: #dfdfdf 1px solid;
  padding: 1em 2em 1em 1em;
  position: relative;
}
/* line 18, ../sass/c.ui.scroll.radio.list.scss */
.cui-select-view li:active {
  background: rgba(0, 0, 0, 0.05);
}
/* line 22, ../sass/c.ui.scroll.radio.list.scss */
.cui-select-view li.current {
  color: #1084bc;
}
/* line 25, ../sass/c.ui.scroll.radio.list.scss */
.cui-select-view li.current:before, .cui-select-view li.current:after {
  position: absolute;
  content: "";
  background: #1084bc;
  height: 3px;
  top: 50%;
  border-radius: 3px;
}
/* line 33, ../sass/c.ui.scroll.radio.list.scss */
.cui-select-view li.current:before {
  width: 18px;
  right: 10px;
  margin-top: -2px;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
/* line 39, ../sass/c.ui.scroll.radio.list.scss */
.cui-select-view li.current:after {
  width: 9px;
  right: 22px;
  margin-top: 2px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/**
 * Type       scroll.radio
 * @file:     c.ui.scroll.radio.scss
 * @author:   byzuo
 * @update:   2013-12-12
 * 
 */
/**
 * Type       common
 * @file£:    c.ui.common.scss
 * @author:   byzuo 
 * @update:   2013-12-12
 * 
 */
/**
 * Variables list
 * 1. Color 
 * 2. Font
 * 3. Text-align
 * 4. Position
 * 5. Z-index
 * 6. Box Model
 * 7. Button Color
 */
/* -------------------------
   1. Color
   -------------------------- */
/* -------------------------
   2. Font
   ------------------------- */
/* -------------------------
   3. Text-align
   ------------------------- */
/* -------------------------
   4. Position
   ------------------------- */
/* -------------------------
   5. Z-index
   ------------------------- */
/* -------------------------
   6. Box Model
   ------------------------- */
/* -------------------------
   7. Button Color
   ------------------------- */
/* -------------------------
   8. Proportion
   ------------------------- */
/**
 * Extend list
 * 1. box-flex
 */
/* --------------------------
   1. flexbox-display
   -------------------------- */
/* line 9, ../sass/c.ui.extend.scss */
.cui-roller,
.cui-roller-btns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* --------------------------
   1. text-overflow:ellipsis
   -------------------------- */
/* line 20, ../sass/c.ui.extend.scss */
.cui-select-view li, .cui-roller .ul-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 28, ../sass/c.ui.extend.scss */
.cui-wifi:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
}

/**
 * Mixins list
 * 1. box-flex
 */
/* -------------------------
   1. box-flex
   -------------------------- */
/* -------------------------
   2. Transformations
   -------------------------- */
/* -------------------------
   animation
   -------------------------- */
/* line 12, ../sass/c.ui.common.scss */
.cui-pop-box {
  background: white;
  position: relative;
  margin: auto;
  width: 280px;
  z-index: 9999;
}

/* line 20, ../sass/c.ui.common.scss */
.cui-pop-box .cui-hd {
  height: 40px;
  line-height: 40px;
  font-size: 16.8px;
  color: white;
  background: #1491c5;
  padding: 0 10px;
  position: relative;
}

/* line 36, ../sass/c.ui.common.scss */
.cui-roller-bd,
.cui-roller-btns .cui-flexbd {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* line 42, ../sass/c.ui.common.scss */
.cui-roller-btns {
  background: #f5f5f5;
  padding: 10px 15px;
  line-height: 18px;
  text-align: center;
}
/* line 48, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-flexbd {
  padding: 10px 0;
  color: white;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 54, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-flexbd:active {
  opacity: .75;
}
/* line 58, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-flexbd:nth-of-type(2) {
  margin-left: 20px;
}
/* line 62, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-btns-cancel {
  background: darkgrey;
}
/* line 66, ../sass/c.ui.common.scss */
.cui-roller-btns .cui-btns-sure {
  background: #ff9913;
}

/**
 * Variables list
 * 1. Color 
 * 2. Font
 * 3. Text-align
 * 4. Position
 * 5. Z-index
 * 6. Box Model
 * 7. Button Color
 */
/* -------------------------
   1. Color
   -------------------------- */
/* -------------------------
   2. Font
   ------------------------- */
/* -------------------------
   3. Text-align
   ------------------------- */
/* -------------------------
   4. Position
   ------------------------- */
/* -------------------------
   5. Z-index
   ------------------------- */
/* -------------------------
   6. Box Model
   ------------------------- */
/* -------------------------
   7. Button Color
   ------------------------- */
/* -------------------------
   8. Proportion
   ------------------------- */
/**
 * Extend list
 * 1. box-flex
 */
/* --------------------------
   1. flexbox-display
   -------------------------- */
/* line 9, ../sass/c.ui.extend.scss */
.cui-roller,
.cui-roller-btns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* --------------------------
   1. text-overflow:ellipsis
   -------------------------- */
/* line 20, ../sass/c.ui.extend.scss */
.cui-select-view li, .cui-roller .ul-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 28, ../sass/c.ui.extend.scss */
.cui-wifi:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
}

/**
 * Mixins list
 * 1. box-flex
 */
/* -------------------------
   1. box-flex
   -------------------------- */
/* -------------------------
   2. Transformations
   -------------------------- */
/* -------------------------
   animation
   -------------------------- */
/* line 11, ../sass/c.ui.scroll.radio.scss */
.cui-flex2 {
  -webkit-box-flex: 2.5;
  -moz-box-flex: 2.5;
  -webkit-flex: 2.5;
  -ms-flex: 2.5;
  flex: 2.5;
}

/* line 15, ../sass/c.ui.scroll.radio.scss */
.cui-roller-tips {
  color: #8d8d8d;
  padding: 5px;
  text-align: center;
}

/* line 21, ../sass/c.ui.scroll.radio.scss */
.cui-text-center {
  text-align: center;
}

/* line 25, ../sass/c.ui.scroll.radio.scss */
.cui-roller {
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* line 30, ../sass/c.ui.scroll.radio.scss */
.cui-roller .ul-list {
  height: 100%;
  text-align: center;
  font-size: 1.2em;
  z-index: 2;
}
/* line 35, ../sass/c.ui.scroll.radio.scss */
.cui-roller .ul-list li {
  height: 44px;
  line-height: 44px;
}
/* line 39, ../sass/c.ui.scroll.radio.scss */
.cui-roller .ul-list li.current {
  font-size: 1.3255em;
}

/* line 46, ../sass/c.ui.scroll.radio.scss */
.cui-mask-gray {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(#ffffff 0%, rgba(245, 245, 245, 0) 52%, rgba(245, 245, 245, 0) 48%, #ffffff 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(0.52, rgba(245, 245, 245, 0)), color-stop(0.48, rgba(245, 245, 245, 0)), to(white));
  background: -webkit-linear-gradient(white 0, rgba(245, 245, 245, 0) 52%, rgba(245, 245, 245, 0) 48%, white 100%);
  background: -moz-linear-gradient(white 0, rgba(245, 245, 245, 0) 52%, rgba(245, 245, 245, 0) 48%, white 100%);
}

/* line 60, ../sass/c.ui.scroll.radio.scss */
.cui-lines {
  width: 100%;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -23px;
  border-top: #dfdfdf 1px solid;
  border-bottom: #dfdfdf 1px solid;
}

/**
 * Type       warning404
 * @file£:    c.ui.warning404.scss
 * @author:   byzuo 
 * @update:   2013-12-12
 * 
 */
/**
 * Variables list
 * 1. Color 
 * 2. Font
 * 3. Text-align
 * 4. Position
 * 5. Z-index
 * 6. Box Model
 * 7. Button Color
 */
/* -------------------------
   1. Color
   -------------------------- */
/* -------------------------
   2. Font
   ------------------------- */
/* -------------------------
   3. Text-align
   ------------------------- */
/* -------------------------
   4. Position
   ------------------------- */
/* -------------------------
   5. Z-index
   ------------------------- */
/* -------------------------
   6. Box Model
   ------------------------- */
/* -------------------------
   7. Button Color
   ------------------------- */
/* -------------------------
   8. Proportion
   ------------------------- */
/**
 * Extend list
 * 1. box-flex
 */
/* --------------------------
   1. flexbox-display
   -------------------------- */
/* line 9, ../sass/c.ui.extend.scss */
.cui-roller,
.cui-roller-btns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* --------------------------
   1. text-overflow:ellipsis
   -------------------------- */
/* line 20, ../sass/c.ui.extend.scss */
.cui-select-view li, .cui-roller .ul-list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 28, ../sass/c.ui.extend.scss */
.cui-wifi:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
}

/**
 * Mixins list
 * 1. box-flex
 */
/* -------------------------
   1. box-flex
   -------------------------- */
/* -------------------------
   2. Transformations
   -------------------------- */
/* -------------------------
   animation
   -------------------------- */
/* line 12, ../sass/c.ui.warning404.scss */
.cui-cbg,
.cui-cbg:before {
  background: url(../img/c.ui.img.png) no-repeat;
  background-size: 150px 125px;
}

/* line 16, ../sass/c.ui.warning404.scss */
.cui-grayc {
  color: #878787;
}

/* line 19, ../sass/c.ui.warning404.scss */
.cui-text-center {
  text-align: center;
}

/* line 22, ../sass/c.ui.warning404.scss */
.cui-load-fail {
  width: 60%;
  margin: 78px auto;
}

/* line 26, ../sass/c.ui.warning404.scss */
.cui-btns-retry {
  display: inline-block;
  margin: 10px auto;
  background: #ff9913;
  padding: 10px 55px;
  color: #fff;
}

/* line 33, ../sass/c.ui.warning404.scss */
.cui-load-error {
  width: 60%;
  margin: 60px auto 0 auto;
  word-break: break-all;
  text-align: center;
}

/* line 39, ../sass/c.ui.warning404.scss */
.cui-wifi {
  width: 68px;
  height: 69px;
  position: relative;
  margin: 0 auto 5px auto;
  background-position: -82px -56px;
}
/* line 45, ../sass/c.ui.warning404.scss */
.cui-wifi:before {
  width: 50px;
  height: 42px;
  margin: -19px 0 0 -25px;
  background-position: 0 -63px;
}

/* line 53, ../sass/c.ui.warning404.scss */
.cui-glines {
  border-bottom: #dfdfdf 1px solid;
  margin: 40px auto 26px auto;
}

/* line 57, ../sass/c.ui.warning404.scss */
.cui-btns-tel {
  min-width: 113px;
  display: inline-block;
  margin: 10px auto;
  background: #a9a9a9;
  padding: 10px 0;
  color: white;
  position: relative;
}
/* line 65, ../sass/c.ui.warning404.scss */
.cui-btns-tel .cui-phone {
  margin-right: 10px;
}
/* line 68, ../sass/c.ui.warning404.scss */
.cui-btns-tel .cui-phone:before {
  width: 11px;
  height: 20px;
  top: 11px;
  left: 15px;
  position: absolute;
  content: "";
}

/* line 78, ../sass/c.ui.warning404.scss */
.cui-exclam:before,
.cui-exclam:after {
  position: absolute;
  content: "";
}

/* line 82, ../sass/c.ui.warning404.scss */
.cui-exclam:before {
  width: 10px;
  height: 31px;
  top: 12px;
  left: 50%;
  margin: 0 0 0 -5px;
  background: #626262;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 91, ../sass/c.ui.warning404.scss */
.cui-exclam:after {
  width: 10px;
  height: 10px;
  bottom: 11px;
  left: 50%;
  margin: 0 0 0 -5px;
  background: #626262;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
