@charset "utf-8";
.cui-mask{background:rgba(0,0,0,.2); z-index:2000;}
.cui-warning-mask{background:#f5f5f5;}
/*.cui-opacitymask{background:rgba(0,0,0,.2); }*/
.cui-layer{ position:fixed; left:50%; top:50%; z-index:2100; /*background:rgba(230,230,230,0.2);*/ border-radius:10px; padding:5px;}
/*.cui-layer-padding{ padding:10px; /*background:#fff; border-radius:5px;}*/


.cui-alert{ position:fixed; left:50%; top:50%; padding:1px;}
.cui-alert-padding{ padding:0 0 10px; background:#fff;overflow:hidden;}
.cui-alert-title{ font-size:14px; height:40px; line-height:40px; /*background:#ccc;*/ background:#0073C3; text-indent:10px;}
.cui-alert-content{ padding:10px 0px; }
.cui-alert-buttons{ text-align:center;}

.cui-originselect{ position:absolute; background:#fff; border:1px solid #ccc; border-bottom:0px;}
.cui-originselect .cui-option{ height:30px; line-height:30px; padding:0px 10px; border-bottom:1px solid #ccc; }
.cui-originselect .cui-option-selected{ background:#aaa; }
.cui-select-fullscreen{ border:0px; text-align:center;}
.cui-view.cui-originselect.cui-select-fullscreen{z-index:10000!important;/*加了z-index:10000 解决机票编辑登机人，选择证件头头部被另外一个层的头部z-index:9999遮住bug*/ }
.cui-select-fullscreen .cui-select-title{ height: 30px; line-height:30px; border-bottom:1px solid #efefef; }

/*oldcalenar modify by pp by 20131010*/
.cui-calendar{/*position:relative!important;*/ background:#f3f3f3;}
.clahead{display:none;}
.calmonth{ width:100%; margin-bottom:20px; font-family:Verdana; font-size:12px;}
.calmonth .clatitle th{font:normal 16px/2 "";background:#fff;}
.calmonth .clarow{ background:#fff;}
.clarow td{height:45px; padding:4px 0; text-align:center; overflow:hidden;background-color:#f3f3f3;}
.clarow td.valid{background-color:#fff;}
.valid i, .invalid i{display: block;font-weight: normal;font-size: 12px;}
.calmonth .clarow td.selected{ background:#06a2d0; color:#fff; }
.calmonth_nocurrent{color:#fff; background:#fff;}

.cui-loading{}
/*.cui-loading .cui-layer-padding{ background:#7d7a74;}*/

/** cui-slide **/
.cui-slide{ width:100%; height:100%; position:relative;}
.cui-slide-imgsouter{ width:100%; height:100%; overflow:hidden; position:relative; }
.cui-slide-imgsinter{ height:100%; position:absolute; left:0px; top:0px;  }
.cui-slide-img-item{ height:100%; overflow:hidden; float:left; display:table; background:#e4e4e4;}
.cui-slide-img-item a{display:table-cell; vertical-align:middle;}
.cui-slide-img-item img{ width:100%; }
.cui-slide-nav{ height:20px; position:absolute; bottom:0px; left:0px; width:100%; text-align:center;}
.cui-slide-nav-item{ overflow:hidden; width:16px; height:4px; background:#000; float:left; margin:0px 5px; border-radius:2px; opacity:0.6;}
.cui-slide-nav-padding{ display:inline-block; overflow:hidden; height:100%; }
body .cui-slide-nav-item-current{ background:#fff; }
.cui-slide-nav-item{   }
.cui-slide-img-item-empey{ background:#ccc; position:relative; background:#f5f5f5 url(http://res.m.ctrip.com/html5/content/images/roomPic.png) no-repeat center center; }
.cui-slide-img-item-empey:after{ position:absolute; content:''; width:100%; text-align:center; top:45%; }

/** cui-toast **/
/*.cui-toast{ background:#333;}
.cui-toast .cui-layer-padding{ padding-top:5px 10px;}
.cui-toast .cui-layer-content{ padding:0px ; color:#fff; }
*/
.cui-toast .cui-layer-padding{width:220px;line-height:24px;border-radius:5px;background:rgba(0,0,0,.7);padding:10px 15px;color:#fff;font-weight:700;text-align:center;word-break:break-all;}


 /* Mask default css */
.cui-Mask{ display:none; background:rgba(0,0,0,.5); /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA////pdmf3QAAAAxJREFUeNpiYAAIMAAAAgABT21Z4QAAAABJRU5ErkJggg==); opacity:0.5; */}
/* Alert defalut css */
.cui-alert{ max-width:500px; width:95%; /*font-size:18px;*/ }
.cui-close{ display:none; font-family:Arial; height:1.2em; line-height:1.2em; width:1.2em; font-size:14px; overflow:hidden; border-radius:1em; text-align:center; background:#ccc; cursor:pointer; right:-0.5em; top:-0.5em; }
.cui-alert-title{ text-align:center;  height:3em; line-height:3em; background:#0073C3; color:#fff;}
.cui-alert-content{ margin:0px 20px; padding:25px 0px; font-weight:bold; line-height:150%; /*text-align:left;*/ text-align:center; }
.cui-alert-button-box{ text-align:center; padding-bottom:15px; }
.cui-alert-button{ height:44px; line-height:44px; border:0px; background:#31A9E9; width:40%; color:#fff; font-weight:bold; font-size:18px; margin:0px 0.5em; display:inline-block;-webkit-appearance: none;border-radius:0px;}
.cui-alert-button:hover{ background:#005C9C; }
.cui-alert-tbg{ background:#000; opacity:0.5;border-radius:4px; display:none; }
.cui-alert-conbox{ margin:10px; background:#fff; position:relative;  overflow:hidden;}
/* layer default css */
.cui-layer{ /*background:#000;*/ color:#eee; border-radius:10px; }
/*.cui-layer-content{ margin:0px 10px; padding:10px 0px; }*/

.head-warning-top{ width:100%; }
.head-warning-header{ height:48px; background:#1491c5; position:relative; }
.head-warning-header .returnico:active{opacity:.7;}
.head-warning-header-title{ text-align:center; font: 600 1.286em/2.75 "STXihei";color:#fff;}
.head-warning-content-icon{ text-align:center;}
/*.head-warning-content-icon .infoper{width:65px;height:65px;margin:auto;border-radius:50%;border:7px solid #626262;position:relative;}
.head-warning-content-icon .infoper:before,.head-warning-content-icon .infoper:after{position:absolute;content:"";}
.head-warning-content-icon .infoper:before{width:10px;height:35px;top:9px;left:50%;margin-left:-5px;background:#626262;border-radius:5px;}
.head-warning-content-icon .infoper:after{width:10px;height:10px;bottom:7px;left:50%;margin-left:-5px;background:#626262;border-radius:50%;}*/
/*.cui-mask-b{width:30px;height:10px;background:#f5f5f5;position:absolute;bottom:15px;left:-15px;
-webkit-transform:rotate(-111deg);-moz-transform:rotate(-111deg);-ms-transform:rotate(-111deg);transform:rotate(-111deg);}
.cui-mask-b:before,.cui-mask-b:after{width:7px;height:7px;border-radius:50%;position:absolute;content:"";background:#626262;}
.cui-mask-b:before{right:-3px;top:3px;}
.cui-mask-b:after{right:26px;top:3px;}*/
/*.head-warning-content-icon .infoper span{position:relative; width:9px; height:39px;background:#666;border-radius:5px;display:block;margin:18px auto 3px;}
.head-warning-content-icon .infoper span:after{position:absolute; content:""; left:0; bottom:-15px; width:9px; height:9px; border-radius:5px; background:#666;}*/

.head-warning-content-title{text-align:center;font-size:12px;}


.main-frame{ min-width:240px; height:100%;}
.main-viewport{ position:relative; height:100%; }
.sub-viewport{ position:relative;  overflow-x:hidden; min-height:100%;/* -webkit-backface-visibility: hidden; -moz-backface-visibility:visible; -ms-backface-visibility:visible;*/}
/*.sub-viewport header{ z-index:9999;}*/
/*.lazyload-bg{ background:url('http://res.m.ctrip.com/html5/content/images/img-loading.gif') no-repeat center center; }*/
.hiddenx{ overflow-x:hidden;overflow-y:auto;}
/* 动画定义 */
/* 向右关闭和进入 */
@-webkit-keyframes sliderightout
{
    from{
        -webkit-transform:translate(0%,0%);
    }
    to{
        -webkit-transform:translate(100%,0%);
    }
}
@-webkit-keyframes slideleftin
{
    from{
        -webkit-transform:translate(-100%,0%);
    }
    to{
        -webkit-transform:translate(0%,0%);
    }
}

@-webkit-keyframes slideleftout
{
    from{
        -webkit-transform:translate(0%,0%);
    }
    to{
        -webkit-transform:translate(-100%,0%);
    }
}
@-webkit-keyframes sliderightin
{
    from{
        -webkit-transform:translate(100%,0%);
    }
    to{
        -webkit-transform:translate(0%,0%);
    }
}

/* firefox */
@-moz-keyframes sliderightout
{
    from{
        -moz-transform:translate(0%,0%);
    }
    to{
        -moz-transform:translate(100%,0%);
    }
}
@-moz-keyframes slideleftin
{
    from{
        -moz-transform:translate(-100%,0%);
    }
    to{
        -moz-transform:translate(0%,0%);
    }
}

@-moz-keyframes slideleftout
{
    from{
        -moz-transform:translate(0%,0%);
    }
    to{
        -moz-transform:translate(-100%,0%);
    }
}
@-moz-keyframes sliderightin
{
    from{
        -moz-transform:translate(100%,0%);
    }
    to{
        -moz-transform:translate(0%,0%);
    }
}

.slideleftout
{
    -webkit-animation:slideleftout 400ms linear;
    -moz-animation:slideleftout 400ms linear;
}
.slideleftin
{
    -webkit-animation:slideleftin 400ms linear;
    -moz-animation:slideleftin 400ms linear;
}

.sliderightout
{
    -webkit-animation:sliderightout 400ms linear;
    -moz-animation:sliderightout 400ms linear;
}
.sliderightin
{
    -webkit-animation:sliderightin 400ms linear;
    -moz-animation:sliderightin 400ms linear;
}
body .animatestart{ position:absolute;
	top:0;
	left:0;
	bottom: 0;
	background-color:#f5f5f5;
	z-index:9999;
	width:100%;
	height: 2000px; 
	-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-perspective: 1000;
-moz-perspective: 1000;
-ms-perspective: 1000;
perspective: 1000;
-webkit-overflow-scrolling: touch;
	}
/* loading */
/*.loading { width:60px; height:60px;margin:0 auto; overflow:hidden; border-radius:5px;  background:#7d7a74 url(http://res.m.ctrip.com/html5/content/images/ajax-loader.gif?v=1.0) center center no-repeat;  background-size:60% 60%; }*/
/*@-webkit-keyframes loading {
	0%		{ -webkit-transform:rotate(0); }
	100%	{ -webkit-transform:rotate(360deg); }
}
@-moz-keyframes loading {
	0%		{ -webkit-transform:rotate(0); }
	100%	{ -webkit-transform:rotate(360deg); }
}
@-o-keyframes loading {
	0%		{ -webkit-transform:rotate(0); }
	100%	{ -webkit-transform:rotate(360deg); }
}
@keyframes loading {
	0%		{ -webkit-transform:rotate(0); }
	100%	{ -webkit-transform:rotate(360deg); }
}
.loading-slogan { display:none;  }*/

/** 默认select样式 **/
.cui-select-title-box{ height:48px; line-height:48px; overflow:hidden; background:#1491c5; position:relative; }
.cui-select-fullscreen .cui-select-title-box .cui-select-title{ height:48px; line-height:48px; font-size:18px; font-weight:bold; color:#fff;}
.cui-select-title-box .cui-select-title-leftback{ height:100%; width:68px; position:absolute; left:0px; top:0px; z-index:1;background-color: #15a4d5;}
.cui-select-title-box .cui-select-title-leftback:active{opacity:0.7;}
.cui-originselect-fixed-title { width:100%; text-align:right;}

/*2013-9-23 byzuo*/
.cui-input-error{background:#fffaeb;}

/* 输入框历史记录 */
.cui-history{ background:#fff;  } 
.cui-history .cui-history-border{border:1px solid #ccc;}
.cui-history .cui-history-list li{ height:40px; line-height:40px; padding:0px 10px;}
.cui-history .cui-history-list li.item{ border-bottom:1px solid #efefef;} 

/* 清空输入框样式 */

/*-----清空输入框样式  by pp------------*/
.clear-input{display:none; position:absolute; z-index:10; top:0px!important; right:0!important; width:30px; height:100%; }
.clear-input span{position:absolute; width:16px; height:16px; border-radius:30px; top:50%!important; left:50%; margin:-8px 0 0 -8px; background:#b1b1b1;}
.clear-input span:before,.clear-input span:after{position:absolute; content:""; top:4px; left:7px; width:2px; height:8px; background:#fff;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg); }
.clear-input span:before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
.clear-input-box{ position:relative; }
/*-----日历 by pp------------*/
.cui_cldwrap{padding-top:25px; color:#585858;}
.cui_cldwrap_h{padding-top:40px; }
.cui_cldmsg{padding:0 10px; line-height:15px;}
.cui_cldweek{position:fixed;z-index:2;top:48px;left:0; width:100%; height:auto; overflow:hidden;font:normal 12px/24px "verdana"; border-bottom:1px solid #c8c8c8; background:#f7f7f7;}
.cui_cldweek_top0{top:0;}
.cui_cldweek li{float:left; width:14%; text-align:center;}
.cui_cldweek li:first-child,.cui_cldweek li:last-child{width:15%; color:#ff902d;}
.cui_cldmonth{height:40px;text-align:center;font:normal 16px/50px "verdana"; background:#fff;}
.cui_cldunit{margin-bottom:14px;}
.cui_cld_daybox{overflow:hidden; background:#fff;}
.cui_cld_daybox li{float:left; width:14%; height:40px; padding:4px 0; font:normal 14px/45px "verdana"; overflow:hidden; text-align:center;}
.cui_cld_daybox li:nth-child(7n),.cui_cld_daybox li:nth-child(7n+1){width:15%; color:#ff902d;}
.cui_cld_dayfuture{background:#fff;}
.cui_cld_day_nocrtmonth{ visibility:hidden;}
.cui_cld_day_havetxt em,.cui_cld_nopro em,.cui_cld_haspro em,.cui_cld_daycrt em{display:block; line-height:20px; font-size:12px;}
.cui_cld_day_havetxt i,.cui_cld_nopro i,.cui_cld_haspro i,.cui_cld_daycrt i{display:block;line-height:15px; font-size:11px;/*-webkit-transform:scale(0.8333);min-width: calc(100% + 10px);min-width:-moz-calc(100% + 10px);min-width:calc(100% + 10px);margin-left: -4px;减小字体大小为10px方案*/}
.cui_spandate{line-height:22px;display:block;}
.cui_cld_daybox li.cui_cld_day_hint{color:#06a2d0;}
.cui_cld_daybox li.cui_cld_daypass{color:#cfcfcf!important;}
.cui_cld_daycrt{ background:#06a2d0; color:#fff!important;}

/*byzuo star*/
.cui-full-views{position:fixed;width:100%;height:100%;background:rgba(0,0,0,.35);top:0;left:0;}
.cui-pop-box{background:#fff;width:280px;margin:auto;position:relative;z-index:9999;}
.cui-text-center{text-align:center;}
.cui-grayc{color:#878787;}
.cui-pop-box .cui-hd{height:40px;line-height:40px;font-size:1.2em;color:#fff;background:#1491c5;padding:0 10px;position:relative;}
.cui-pop-box .cui-hd .label{position:absolute;width:50px;height:100%;right:0;top:0;}
.cui-pop-box .cui-hd .cui-top-close{width:18px; height:18px;float:right;margin:10px 12px 0 0;line-height:18px;border-radius:50%; background:#fff;color:#1491c5;text-align:center;font-weight:bold;text-indent:-9999px;position:relative;}
.cui-pop-box .cui-hd .cui-top-close:before,.cui-pop-box .cui-hd .cui-top-close:after{width:2px;height:10px;position:absolute;left:50%;top:50%;margin:-5px 0 0 -1px;background:#1491c5;content:"";}
.cui-pop-box .cui-hd .cui-top-close:before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.cui-pop-box .cui-hd .cui-top-close:after{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.cui-select-view li{border-bottom:#dfdfdf 1px solid;padding:1em 2em 1em 1em;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;position:relative;}
.cui-select-view li.current{color:#1084bc;}
.cui-select-view li:active{background:rgba(0,0,0,.05);}
.cui-select-view li.current:before,.cui-select-view li.current:after{position:absolute;content:"";background:#1084bc;height:3px;top:50%;border-radius:3px;}
.cui-select-view li.current:before{width:18px;right:10px;margin-top:-2px;-webkit-transform:rotate(-50deg);-moz-transform:rotate(-50deg);-ms-transform:rotate(-50deg);transform:rotate(-50deg);}
.cui-select-view li.current:after{width:9px;right:22px;margin-top:2px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}

.cui-roller,.cui-roller-btns{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;;}
.cui-roller-bd,.cui-roller-btns .cui-flexbd{-webkit-box-flex: 1;-moz-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;}
.cui-roller{width:100%;overflow:hidden;position:relative;}
.cui-flex2{-webkit-box-flex:2.5;-moz-box-flex:2.5;-webkit-flex:2.5;-ms-flex:2.5;flex:2.5;}
.cui-roller .ul-list{height:100%;text-align:center;font-size:1.2em;z-index:2;}
.cui-roller .ul-list li.current{font-size:1.3255em;}
.cui-roller .ul-list li{height:44px;line-height:44px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.cui-mask-gray{position:absolute;z-index:3;top: 0;left: 0;width: 100%;height: 100%;pointer-events: none;
    background: linear-gradient(#fff 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#fff 100%);
    background: -webkit-gradient(linear,left bottom,left top,from(#fff),color-stop(0.52,rgba(245,245,245,0)),color-stop(0.48,rgba(245,245,245,0)),to(#fff));
    background: -webkit-linear-gradient(#fff 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#fff 100%);
    background: -moz-linear-gradient(#fff 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#fff 100%);
}
.cui-lines{width:100%;height:44px;position:absolute;top:50%;left:0;margin-top:-23px;border-top:#dfdfdf 1px solid;border-bottom:#dfdfdf 1px solid;}
.cui-h-font,.cui-m-font{font-size:.67em;}
.cui-roller-tips{color:#8d8d8d;padding:5px;text-align:center;}
.cui-error-tips{color:#000;padding:20px;text-align:center;}
.cui-roller-btns{background:#f6f5f5;padding:10px 15px; line-height:18px; text-align:center;}
.cui-roller-btns .cui-flexbd{padding:10px 0;color:#fff;}
.cui-roller-btns .cui-flexbd:active{opacity:.75;}
.cui-roller-btns .cui-flexbd:nth-of-type(2){margin-left:20px;}
.cui-roller-btns .cui-btns-cancel{background:#a9a9a9;}
.cui-roller-btns .cui-btns-sure{background:#ff9913;}
.cui-load-error{width:60%;margin:auto;word-break:break-all;text-align:center;margin-top:60px;}
.cui-wifi{width:68px;height:69px;position:relative;margin:0 auto 5px auto;background-position:0 -110.5px;}
.cui-exclam:before,.cui-exclam:after{position:absolute;content:"";}
.cui-exclam:before{width:10px;height:31px;top:12px;left:50%;margin-left:-5px;background:#626262;border-radius:5px;}
.cui-exclam:after{width:10px;height:10px;bottom:11px;left:50%;margin-left:-5px;background:#626262;border-radius:50%;border-radius:50%;border-radius:50%;}
/*.cui-mask-b{width:30px;height:10px;background:#f5f5f5;position:absolute;bottom:15px;left:-15px;
-webkit-transform:rotate(-111deg);-moz-transform:rotate(-111deg);-ms-transform:rotate(-111deg);transform:rotate(-111deg);}
.cui-mask-b:before,.cui-mask-b:after{width:7px;height:7px;border-radius:50%;position:absolute;content:"";background:#626262;}
.cui-mask-b:before{right:-3px;top:3px;}
.cui-mask-b:after{right:26px;top:3px;}*/
.cui-load-fail{width:60%;margin:78px auto;}
.cui-fail-icon:before{width:50px;height:42px;left:50%;top:50%;margin:-19px 0 0 -25px;background-position:-154px -162px;}
.cui-btns-retry{display:inline-block;margin:10px auto;background:#ff9913;padding:10px 55px;color:#fff;}
.cui-glines{border-bottom:#dfdfdf 1px solid;margin:40px auto 26px auto;}
.cui-btns-tel{min-width:100px;display:inline-block;margin:10px auto;background:#a9a9a9;padding:10px 0 10px 15px;color:#fff;}
.cui-btns-tel .icon_phone:before{top:0;left:-52px;right:auto;}

.cui-breaking-load{width:80px;height:70px;border-radius: 5px;background:rgba(0,0,0,.7);margin:auto;position:relative;z-index:9999;}
/*new>>*/
.cui-w-loading {position:absolute;width:50px;height:50px;left:50%;top:50%;margin:-25px 0 0 -25px;  background-position:-97px -162px;}
.cui-white-logo{position:absolute; width:25px;height:28px;left:50%;top:50%; z-index:9;margin:-15px 0 0 -15px;background-position:-151.5px -132.5px;}
/*<<new*/
.cui-w-loading{
-webkit-animation:cui-loading 1.58s linear infinite;
-moz-animation:cui-loading 1.58s linear infinite;
-ms-animation:cui-loading 1.58s linear infinite;
animation:cui-loading 1.58s linear infinite;
-webkit-transform-origin:50% 49%;
-moz-transform-origin:50% 49%;
-ms-transform-origin:50% 49%;
transform-origin:50% 49%;
opacity:0;
}
.cui-b-loading{
-webkit-animation:cui-loading 1.58s linear infinite;
-moz-animation:cui-loading 1.58s linear infinite;
-ms-animation:cui-loading 1.58s linear infinite;
animation:cui-loading 1.58s linear infinite;
-webkit-transform-origin:48% 45%;
-moz-transform-origin:48% 45%;
-ms-transform-origin:48% 45%;
transform-origin:48% 45%;
opacity:0;
}
@-webkit-keyframes cui-loading{
    0%{
        opacity:1;
        -webkit-transform:rotate(0deg);
    }
    100%{
        opacity:1;
        -webkit-transform:rotate(360deg);
    }
}
@-moz-keyframes cui-loading{
    0%{
        opacity:1;
        -webkit-transform:rotate(0deg);
    }
    100%{
        opacity:1;
        -webkit-transform:rotate(360deg);
    }
}
@-ms-keyframes cui-loading{
    0%{
        opacity:1;
        -webkit-transform:rotate(0deg);
    }
    100%{
        opacity:1;
        -webkit-transform:rotate(360deg);
    }
}
@keyframes cui-loading{
    0%{
        opacity:1;
        -webkit-transform:rotate(0deg);
    }
    100%{
        opacity:1;
        -webkit-transform:rotate(360deg);
    }
}
.cui-zl-load{width:110px;margin:5px auto;position:relative;}
.cui-zl-load p{padding-left:25px;color:#878787;}
.cui-b-loading{width:20px;height:20px;position:absolute;background-position:-201px -134px;}
.cui-blue-logo:before{width:12px;height:12px;left:4px;top:4px;background-position:-185.5px -133px;}
.cui-img-default{width:60px;height:60px;line-height:60px;text-align:center;margin:auto;background:#7a7a7a;color:#fff;}

.cui-money-tips{padding:15px 10px;position:relative;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:auto;}
.cui-money-tips li{color:black;}
.cui-money-tips span{width:80%;display:inline-block;}
.cui-money-tips em{width:auto;position:absolute;right:10px;}
.cui-money-tips p{color:#a7a9ac;}
.cui-money-tips p span{width:75%;padding-left:5%;}
.cui-money-tips .border_bot{border-bottom:#dfdfdf 1px solid;padding-bottom:5px;margin-bottom:5px;color:#58595b;}
.cui-money-tips .t_r{text-align:right;}
.cui-money-tips .t_r dfn{font-size:1.4em;}

.cui-item-img{background:#7a7a7a;text-align:center;position:relative;}
.cui-item-img .cui-item-imgbg{width:60px;height:12px;position:absolute;left:50%;top:50%;margin:-6px 0 0 -30px;}

.nomore{ height:40px; line-height:40px; text-align:center; color:#999;}
/*byzuo end*/
