/*日历*/
.cui_cldwrap{color:#000;}
.cui_cldweek{height:25px; overflow:hidden;font:normal 12px/24px "verdana";border-bottom:1px solid #c8c8c8;}
.cui_cldweek li{float:left; width:14%; text-align:center; }
.cui_cldweek li:first-child,.cui_cldweek li:last-child{width:15%; color:#acacac;}
.cui_cldmonth{height:35px;text-align:center;font:normal 16px/35px "verdana"; background:#fff;}
.cui_cldunit{margin-bottom:20px;}
.cui_cld_daybox{overflow:hidden; background:#fff;}
.cui_cld_daybox li{float:left; width:14%; height:45px; padding:4px 0; font:normal 12px/45px "verdana"; overflow:hidden; text-align:center;}
.cui_cld_daybox li:nth-child(7n),.cui_cld_daybox li:nth-child(7n+1){width:15%;}
.cui_cld_daypass{ background:#f7f7f7;}
.cui_cld_daycrt{background:#06a2d0; color:#fff;}
.cui_cld_dayfuture{background:#fff;}
.cui_cld_day_nocrtmonth{ visibility:hidden;}
.cui_cld_day_havetxt em{display:block; line-height:25px;}
.cui_cld_day_havetxt i{display:block;line-height:15px;}
.cui_cld_day_hint{color:#06a2d0;}

/*byzuo star*/
.cui-full-views{position:fixed;width:100%;height:100%;background:rgba(0,0,0,.35);top:0;left:0;}
.cui-pop-box{background:#fff;width:80%;margin:auto;position:relative;z-index:9999;}
.cui-text-center{text-align:center;}
.cui-grayc{color:#878787;}
.cui-pop-box .cui-hd{height:40px;line-height:40px;font-size:1.2em;color:#fff;background:#1491c5;padding:0 10px;position:relative;}
.cui-pop-box .cui-hd .label{position:absolute;width:50px;height:100%;right:0;top:0;}
.cui-pop-box .cui-hd .cui-close{width:18px; height:18px;float:right;margin:10px 12px 0 0;line-height:18px;border-radius:50%; background:#fff;color:#1491c5;text-align:center;font-weight:bold;}
.cui-error{width:150px;margin:auto;border-radius:5px;background:rgba(73,73,73,1);padding:10px;color:#fff;font-weight:700;text-align:center;word-break:break-all;position:relative;z-index:9999;}
.cui-select-view li{border-bottom:#dfdfdf 1px solid;padding:1em 2em 1em 1em;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;position:relative;}
.cui-select-view li.current{color:#1084bc;}
.cui-select-view li:active{background:rgba(0,0,0,.05);}
.cui-select-view li.current:before,.cui-select-view li.current:after{position:absolute;content:"";background:#1084bc;height:3px;top:50%;border-radius:3px;}
.cui-select-view li.current:before{width:18px;right:10px;margin-top:-2px;-webkit-transform:rotate(-50deg);-moz-transform:rotate(-50deg);-ms-transform:rotate(-50deg);transform:rotate(-50deg);}
.cui-select-view li.current:after{width:9px;right:22px;margin-top:2px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}

.cui-roller,.cui-roller-btns{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
.cui-roller-bd,.cui-roller-btns span{-webkit-box-flex: 1;-moz-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;}
.cui-roller{width:100%;height:90px;overflow:hidden;position:relative;}
.cui-roller .ul-list{height:100%;text-align:center;font-size:1.1em;line-height:30px;z-index:2;}
.cui-roller .ul-list li{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.cui-mask-gray{position:absolute;z-index:3;top: 0;left: 0;width: 100%;height: 100%;pointer-events: none;
    background: linear-gradient(#fff 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#fff 100%);
    background: -webkit-gradient(linear,left bottom,left top,from(#fff),color-stop(0.52,rgba(245,245,245,0)),color-stop(0.48,rgba(245,245,245,0)),to(#fff));
    background: -webkit-linear-gradient(#fff 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#fff 100%);
    background: -moz-linear-gradient(#fff 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#fff 100%);
}
.cui-lines{width:100%;height:34px;position:absolute;top:50%;left:0;margin-top:-17px;border-top:#dfdfdf 1px solid;border-bottom:#dfdfdf 1px solid;}
.cui-roller-tips{color:#8d8d8d;padding:5px;text-align:center;}
.cui-error-tips{color:#000;padding:20px;text-align:center;}
.cui-roller-btns{background:#f6f5f5;padding:10px 15px;text-align:center;}
.cui-roller-btns span{display:inline-block;padding:10px 0;color:#fff;}
.cui-roller-btns span:active{opacity:.75;}
.cui-roller-btns .cui-btns-cancel{background:#a9a9a9;margin-right:20px;}
.cui-roller-btns .cui-btns-sure{background:#ff9913;}
.cui-load-error{width:105px;margin:auto;word-break:break-all;text-align:center;}
.cui-wifi{width:65px;height:65px;border:#626262 7px solid;border-radius:50%;position:relative;margin:auto;}
.cui-exclam:before,.cui-exclam:after{position:absolute;content:"";}
.cui-exclam:before{width:10px;height:35px;top:9px;left:50%;margin-left:-5px;background:#626262;border-radius:5px;}
.cui-exclam:after{width:10px;height:10px;bottom:7px;left:50%;margin-left:-5px;background:#626262;border-radius:50%;}
.cui-mask-b{width:30px;height:10px;background:#f5f5f5;position:absolute;bottom:15px;left:-15px;
-webkit-transform:rotate(-111deg);-moz-transform:rotate(-111deg);-ms-transform:rotate(-111deg);transform:rotate(-111deg);}
.cui-mask-b:before,.cui-mask-b:after{width:7px;height:7px;border-radius:50%;position:absolute;content:"";background:#626262;}
.cui-mask-b:before{right:-3px;top:3px;}
.cui-mask-b:after{right:26px;top:3px;}
.cui-load-fail{width:60%;margin:auto;}
.cui-fail-icon:before{width:50px;height:42px;left:50%;top:50%;margin:-19px 0 0 -25px;background-position:-154px -162px;}
.cui-btns-retry{display:inline-block;margin:10px auto;background:#ff9913;padding:10px 55px;color:#fff;}
.cui-glines{border-bottom:#dfdfdf 1px solid;margin:50px auto 30px auto;}
.cui-btns-tel{display:inline-block;margin:10px auto;background:#a9a9a9;padding:10px 0 10px 15px;color:#fff;}
.cui-btns-tel .icon_phone:before{top:0;left:-52px;right:auto;}
.cui-breaking-load{width:80px;height:70px;border-radius: 5px;background:rgba(73,73,73,1);margin:auto;position:relative;z-index:9999;}
.cui-w-loading:before{width:50px;height:50px;left:50%;top:50%;margin:-25px 0 0 -25px;background-position:-98px -162px;}
.cui-white-logo:before{width:25px;height:28px;left:50%;top:50%;margin:-15px 0 0 -15px;background-position:-151.5px -132.5px;}
.cui-w-loading:before{
-webkit-animation:cui-loading 1.58s linear infinite;
-moz-animation:cui-loading 1.58s linear infinite;
-ms-animation:cui-loading 1.58s linear infinite;
animation:cui-loading 1.58s linear infinite;
-webkit-transform-origin:48% 49%;
-moz-transform-origin:48% 49%;
-ms-transform-origin:48% 49%;
transform-origin:48% 49%;
}
.cui-b-loading:before{
-webkit-animation:cui-loading 1.58s linear infinite;
-moz-animation:cui-loading 1.58s linear infinite;
-ms-animation:cui-loading 1.58s linear infinite;
animation:cui-loading 1.58s linear infinite;
-webkit-transform-origin:48% 45%;
-moz-transform-origin:48% 45%;
-ms-transform-origin:48% 45%;
transform-origin:48% 45%;
}
@-webkit-keyframes cui-loading{
    to{
        -webkit-transform:rotate(360deg);
    }
}
@-moz-keyframes cui-loading{
    to{
        -moz-transform:rotate(360deg);
    }
}
@-ms-keyframes cui-loading{
    to{
        -ms-transform:rotate(360deg);
    }
}
@keyframes cui-loading{
    to{
        transform:rotate(360deg);
    }
}
.cui-zl-load{width:110px;margin:auto;position:relative;}
.cui-zl-load p{padding-left:25px;color:#878787;}
.cui-b-loading:before{width:20px;height:20px;background-position:-201px -134px;}
.cui-blue-logo:before{width:12px;height:12px;left:4px;top:5px;background-position:-185.5px -134px;}
.cui-img-default{width:60px;height:60px;line-height:60px;text-align:center;margin:auto;background:#7a7a7a;color:#fff;}
/*byzuo end*/