.pubFlights_3u,.pubFlights_3U,
.pubFlights_8c,.pubFlights_8C,
.pubFlights_8l,.pubFlights_8L,
.pubFlights_bk,.pubFlights_BK,
.pubFlights_ca,.pubFlights_CA,
.pubFlights_cn,.pubFlights_CN,
.pubFlights_cz,.pubFlights_CZ,
.pubFlights_eu,.pubFlights_EU,
.pubFlights_fm,.pubFlights_FM,
.pubFlights_g5,.pubFlights_G5,
.pubFlights_gs,.pubFlights_GS,
.pubFlights_ho,.pubFlights_HO,
.pubFlights_hu,.pubFlights_HU,
.pubFlights_kn,.pubFlights_KN,
.pubFlights_mf,.pubFlights_MF,
.pubFlights_mu,.pubFlights_MU,
.pubFlights_ns,.pubFlights_NS,
.pubFlights_pn,.pubFlights_PN,
.pubFlights_sc,.pubFlights_SC,
.pubFlights_zh,.pubFlights_ZH,
.pubFlights_vd,.pubFlights_VD,
.pubFlights_jr,.pubFlights_JR,
.pubFlights_9w,.pubFlights_9W,
.pubFlights_aa,.pubFlights_AA,
.pubFlights_ab,.pubFlights_AB,
.pubFlights_ac,.pubFlights_AC,
.pubFlights_af,.pubFlights_AF,
.pubFlights_ai,.pubFlights_AI,
.pubFlights_ay,.pubFlights_AY,
.pubFlights_az,.pubFlights_AZ,
.pubFlights_ba,.pubFlights_BA,
.pubFlights_bd,.pubFlights_BD,
.pubFlights_bi,.pubFlights_BI,
.pubFlights_br,.pubFlights_BR,
.pubFlights_ci,.pubFlights_CI,
.pubFlights_co,.pubFlights_CO,
.pubFlights_cx,.pubFlights_CX,
.pubFlights_dl,.pubFlights_DL,
.pubFlights_ek,.pubFlights_EK,
.pubFlights_et,.pubFlights_ET,
.pubFlights_ft,.pubFlights_FT,
.pubFlights_ga,.pubFlights_GA,
.pubFlights_jk,.pubFlights_JK,
.pubFlights_jl,.pubFlights_JL,
.pubFlights_jp,.pubFlights_JP,
.pubFlights_ka,.pubFlights_KA,
.pubFlights_ke,.pubFlights_KE,
.pubFlights_kl,.pubFlights_KL,
.pubFlights_kq,.pubFlights_KQ,
.pubFlights_la,.pubFlights_LA,
.pubFlights_lh,.pubFlights_LH,
.pubFlights_lo,.pubFlights_LO,
.pubFlights_lx,.pubFlights_LX,
.pubFlights_ly,.pubFlights_LY,
.pubFlights_ma,.pubFlights_MA,
.pubFlights_mh,.pubFlights_MH,
.pubFlights_nh,.pubFlights_NH,
.pubFlights_nw,.pubFlights_NW,
.pubFlights_nx,.pubFlights_NX,
.pubFlights_nz,.pubFlights_NZ,
.pubFlights_ok,.pubFlights_OK,
.pubFlights_os,.pubFlights_OS,
.pubFlights_oz,.pubFlights_OZ,
.pubFlights_pg,.pubFlights_PG,
.pubFlights_pr,.pubFlights_PR,
.pubFlights_qf,.pubFlights_QF,
.pubFlights_qr,.pubFlights_QR,
.pubFlights_sk,.pubFlights_SK,
.pubFlights_sn,.pubFlights_SN,
.pubFlights_sq,.pubFlights_SQ,
.pubFlights_su,.pubFlights_SU,
.pubFlights_tg,.pubFlights_TG,
.pubFlights_tk,.pubFlights_TK,
.pubFlights_ua,.pubFlights_UA,
.pubFlights_ul,.pubFlights_UL,
.pubFlights_un,.pubFlights_UN,
.pubFlights_vn,.pubFlights_VN,
.pubFlights_vs,.pubFlights_VS,
.pubFlights_vv,.pubFlights_VV,
.pubFlights_hx,.pubFlights_HX,
.pubFlights_uo,.pubFlights_UO,
.pubFlights_jd,.pubFlights_JD,
.pubFlights_ey,.pubFlights_EY,
.pubFlights_us,.pubFlights_US,
.pubFlights_ky,.pubFlights_KY,
.pubFlights_ae,.pubFlights_AE,
.pubFlights_ge,.pubFlights_GE,
.pubFlights_b7,.pubFlights_B7,
.pubFlights_mi,.pubFlights_MI,
.pubFlights_iy,.pubFlights_IY,
.pubFlights_am,.pubFlights_AM,
.pubFlights_ms,.pubFlights_MS,
.pubFlights_3k,.pubFlights_3K,
.pubFlights_jq,.pubFlights_JQ,
.pubFlights_bl,.pubFlights_BL,
.pubFlights_vf,.pubFlights_VF,
.pubFlights_hy,.pubFlights_HY,
.pubFlights_tv,.pubFlights_TV,
.pubFlights_many,.pubFlights_MANY,
.pubFlights_as,.pubFlights_AS,
.pubFlights_ha,.pubFlights_HA,
.pubFlights_ah,.pubFlights_AH,
.pubFlights_ak,.pubFlights_AK,
.pubFlights_sr,.pubFlights_SR,
.pubFlights_s7,.pubFlights_S7,
.pubFlights_om,.pubFlights_OM,
.pubFlights_sa,.pubFlights_SA,
.pubFlights_9c,.pubFlights_9C,
.pubFlights_mk,.pubFlights_MK,
.pubFlights_md,.pubFlights_MD,
.pubFlights_ws,.pubFlights_WS,
.pubFlights_fe,.pubFlights_FE,
.pubFlights_da,.pubFlights_DA,
.pubFlights_kc,.pubFlights_KC,
.pubFlights_gk,.pubFlights_GK,
.pubFlights_2p,.pubFlights_2P,
.pubFlights_5j,.pubFlights_5J,
.pubFlights_u6,.pubFlights_U6,
.pubFlights_tz,.pubFlights_TZ,
.pubFlights_tr,.pubFlights_TR,
.pubFlights_tt,.pubFlights_TT,
.pubFlights_dg,.pubFlights_DG,
.pubFlights_ri,.pubFlights_RI,
.pubFlights_4u,.pubFlights_4U,
.pubFlights_6e,.pubFlights_6E,
.pubFlights_ap,.pubFlights_AP,
.pubFlights_b6,.pubFlights_B6,
.pubFlights_be,.pubFlights_BE,
.pubFlights_f9,.pubFlights_F9,
.pubFlights_fr,.pubFlights_FR,
.pubFlights_fy,.pubFlights_FY,
.pubFlights_g4,.pubFlights_G4,
.pubFlights_g8,.pubFlights_G8,
.pubFlights_ig,.pubFlights_IG,
.pubFlights_jt,.pubFlights_JT,
.pubFlights_mm,.pubFlights_MM,
.pubFlights_sg,.pubFlights_SG,
.pubFlights_sv,.pubFlights_SV,
.pubFlights_u2,.pubFlights_U2,
.pubFlights_va,.pubFlights_VA,
.pubFlights_vx,.pubFlights_VX,
.pubFlights_vy,.pubFlights_VY,
.pubFlights_x3,.pubFlights_X3,
.pubFlights_y4,.pubFlights_Y4
{
	padding-left:18px;
	padding-bottom:2px;
	background-color:transparent;
	background-image:url(../img/pic_flightslogo.png);
	background-repeat:no-repeat;
	text-align:left;
	line-height:15px;
}
.pubFlights_cx,.pubFlights_CX,
.pubFlights_ak,.pubFlights_AK,
.pubFlights_ba,.pubFlights_EY,
.pubFlights_ey,.pubFlights_BA,
.pubFlights_lo,.pubFlights_LO,
.pubFlights_lx,.pubFlights_LX,
.pubFlights_mk,.pubFlights_MK,
.pubFlights_md,.pubFlights_MD,
.pubFlights_fe,.pubFlights_FE,
.pubFlights_nh,.pubFlights_NH,
.pubFlights_2p,.pubFlights_2P,
.pubFlights_5j,.pubFlights_5J,
.pubFlights_u6,.pubFlights_U6,
.pubFlights_vs,.pubFlights_VS
{padding-left:26px;}

.pubFlights_3k,.pubFlights_3K,
.pubFlights_4u,.pubFlights_4U,
.pubFlights_6e,.pubFlights_6E,
.pubFlights_ab,.pubFlights_AB,
.pubFlights_ap,.pubFlights_AP,
.pubFlights_as,.pubFlights_AS,
.pubFlights_ay,.pubFlights_AY,
.pubFlights_b6,.pubFlights_B6,
.pubFlights_be,.pubFlights_BE,
.pubFlights_bl,.pubFlights_BL,
.pubFlights_dg,.pubFlights_DG,
.pubFlights_f9,.pubFlights_F9,
.pubFlights_fr,.pubFlights_FR,
.pubFlights_fy,.pubFlights_FY,
.pubFlights_g4,.pubFlights_G4,
.pubFlights_g8,.pubFlights_G8,
.pubFlights_gk,.pubFlights_GK,
.pubFlights_ig,.pubFlights_IG,
.pubFlights_jq,.pubFlights_JQ,
.pubFlights_jt,.pubFlights_JT,
.pubFlights_mm,.pubFlights_MM,
.pubFlights_ri,.pubFlights_RI,
.pubFlights_sg,.pubFlights_SG,
.pubFlights_u2,.pubFlights_U2,
.pubFlights_va,.pubFlights_VA,
.pubFlights_vf,.pubFlights_VF,
.pubFlights_vx,.pubFlights_VX,
.pubFlights_vy,.pubFlights_VY,
.pubFlights_ws,.pubFlights_WS,
.pubFlights_x3,.pubFlights_X3
{padding-left:62px;}

.pubFlights_3u,.pubFlights_3U{background-position:0 0;}
.pubFlights_8c,.pubFlights_8C{background-position:0 -48px;}
.pubFlights_8l,.pubFlights_8L{background-position:0 -96px;}
.pubFlights_bk,.pubFlights_BK{background-position:0 -144px;}
.pubFlights_ca,.pubFlights_CA{background-position:0 -192px;}
.pubFlights_cn,.pubFlights_CN{background-position:0 -240px;}
.pubFlights_cz,.pubFlights_CZ{background-position:0 -288px;}
.pubFlights_eu,.pubFlights_EU{background-position:0 -336px;}
.pubFlights_fm,.pubFlights_FM{background-position:0 -384px;}
.pubFlights_g5,.pubFlights_G5{background-position:0 -432px;}
.pubFlights_gs,.pubFlights_GS{background-position:0 -480px;}
.pubFlights_ho,.pubFlights_HO{background-position:0 -528px;}
.pubFlights_hu,.pubFlights_HU{background-position:0 -576px;}
.pubFlights_kn,.pubFlights_KN{background-position:0 -624px;}
.pubFlights_mf,.pubFlights_MF{background-position:0 -672px;}
.pubFlights_mu,.pubFlights_MU{background-position:0 -720px;}
.pubFlights_ns,.pubFlights_NS{background-position:0 -768px;}
.pubFlights_pn,.pubFlights_PN{background-position:0 -816px;}
.pubFlights_sc,.pubFlights_SC{background-position:0 -864px;}
.pubFlights_zh,.pubFlights_ZH{background-position:0 -912px;}
.pubFlights_vd,.pubFlights_VD{background-position:0 -960px;}
.pubFlights_jr,.pubFlights_JR{background-position:0 -3008px;}
.pubFlights_ky,.pubFlights_KY{background-position:0 -3040px;}
.pubFlights_tv,.pubFlights_TV{background-position:0 -3360px;}
.pubFlights_9c,.pubFlights_9C{background-position:0 -3680px;}
.pubFlights_da,.pubFlights_DA{background-position:0 -3840px;}
/*international ICON begin*/
.pubFlights_9w,.pubFlights_9W{background-position:0 -992px;}
.pubFlights_aa,.pubFlights_AA{background-position:0 -1024px;}
.pubFlights_ab,.pubFlights_AB{background-position:0 -1056px;}
.pubFlights_ac,.pubFlights_AC{background-position:0 -1088px;}
.pubFlights_af,.pubFlights_AF{background-position:0 -1120px;}
.pubFlights_ai,.pubFlights_AI{background-position:0 -1152px;}
.pubFlights_ay,.pubFlights_AY{background-position:0 -1184px;}
.pubFlights_az,.pubFlights_AZ{background-position:0 -1216px;}
.pubFlights_ba,.pubFlights_BA{background-position:0 -1248px;}
.pubFlights_bd,.pubFlights_BD{background-position:0 -1280px;}
.pubFlights_bi,.pubFlights_BI{background-position:0 -1312px;}
.pubFlights_br,.pubFlights_BR{background-position:0 -1344px;}
.pubFlights_ci,.pubFlights_CI{background-position:0 -1376px;}
.pubFlights_co,.pubFlights_CO{background-position:0 -1408px;}
.pubFlights_cx,.pubFlights_CX{background-position:0 -1440px;}
.pubFlights_dl,.pubFlights_DL{background-position:0 -1472px;}
.pubFlights_ek,.pubFlights_EK{background-position:0 -1504px;}
.pubFlights_et,.pubFlights_ET{background-position:0 -1536px;}
.pubFlights_ft,.pubFlights_FT{background-position:0 -1568px;}
.pubFlights_ga,.pubFlights_GA{background-position:0 -1600px;}
.pubFlights_jk,.pubFlights_JK{background-position:0 -1632px;}
.pubFlights_jl,.pubFlights_JL{background-position:0 -1664px;}
.pubFlights_jp,.pubFlights_JP{background-position:0 -1696px;}
.pubFlights_ka,.pubFlights_KA{background-position:0 -1728px;}
.pubFlights_ke,.pubFlights_KE{background-position:0 -1760px;}
.pubFlights_kl,.pubFlights_KL{background-position:0 -1792px;}
.pubFlights_kq,.pubFlights_KQ{background-position:0 -1824px;}
.pubFlights_la,.pubFlights_LA{background-position:0 -1856px;}
.pubFlights_lh,.pubFlights_LH{background-position:0 -1888px;}
.pubFlights_lo,.pubFlights_LO{background-position:0 -1920px;}
.pubFlights_lx,.pubFlights_LX{background-position:0 -3552px;}
.pubFlights_ly,.pubFlights_LY{background-position:0 -1984px;}
.pubFlights_ma,.pubFlights_MA{background-position:0 -2016px;}
.pubFlights_mh,.pubFlights_MH{background-position:0 -2048px;}
.pubFlights_nh,.pubFlights_NH{background-position:0 -2080px;}
.pubFlights_nw,.pubFlights_NW{background-position:0 -2112px;}
.pubFlights_nx,.pubFlights_NX{background-position:0 -2144px;}
.pubFlights_nz,.pubFlights_NZ{background-position:0 -2176px;}
.pubFlights_ok,.pubFlights_OK{background-position:0 -2208px;}
.pubFlights_os,.pubFlights_OS{background-position:0 -2240px;}
.pubFlights_oz,.pubFlights_OZ{background-position:0 -2272px;}
.pubFlights_pg,.pubFlights_PG{background-position:0 -2304px;}
.pubFlights_pr,.pubFlights_PR{background-position:0 -2336px;}
.pubFlights_qf,.pubFlights_QF{background-position:0 -2368px;}
.pubFlights_qr,.pubFlights_QR{background-position:0 -2400px;}
.pubFlights_sk,.pubFlights_SK{background-position:0 -2432px;}
.pubFlights_sn,.pubFlights_SN{background-position:0 -2464px;}
.pubFlights_sq,.pubFlights_SQ{background-position:0 -2496px;}
.pubFlights_su,.pubFlights_SU{background-position:0 -2528px;}
.pubFlights_tg,.pubFlights_TG{background-position:0 -2560px;}
.pubFlights_tk,.pubFlights_TK{background-position:0 -2592px;}
.pubFlights_ua,.pubFlights_UA{background-position:0 -2624px;}
.pubFlights_ul,.pubFlights_UL{background-position:0 -2656px;}
.pubFlights_un,.pubFlights_UN{background-position:0 -2688px;}
.pubFlights_vn,.pubFlights_VN{background-position:0 -2720px;}
.pubFlights_vs,.pubFlights_VS{background-position:0 -2752px;}
.pubFlights_vv,.pubFlights_VV{background-position:0 -2784px;}
.pubFlights_hx,.pubFlights_HX{background-position:0 -2832px;}
.pubFlights_uo,.pubFlights_UO{background-position:0 -2880px;}
.pubFlights_jd,.pubFlights_JD{background-position:0 -2913px;}
.pubFlights_ey,.pubFlights_EY{background-position:0 -2944px;}
.pubFlights_us,.pubFlights_US{background-position:0 -2976px;}
.pubFlights_ae,.pubFlights_AE{background-position:0 -3072px;}
.pubFlights_ge,.pubFlights_GE{background-position:0 -3104px;}
.pubFlights_b7,.pubFlights_B7{background-position:0 -3136px;}
.pubFlights_mi,.pubFlights_MI{background-position:0 -3168px;}
.pubFlights_iy,.pubFlights_IY{background-position:0 -3200px;}
.pubFlights_am,.pubFlights_AM{background-position:0 -3232px;}
.pubFlights_ms,.pubFlights_MS{background-position:0 -3264px;}
.pubFlights_3k,.pubFlights_3K, .pubFlights_jq,.pubFlights_JQ, .pubFlights_bl,.pubFlights_BL, .pubFlights_vf,.pubFlights_VF, .pubFlights_gk,.pubFlights_GK{background-position:0 -3296px;}
.pubFlights_hy,.pubFlights_HY{background-position:0 -3328px;}
.pubFlights_many,.pubFlights_MANY{background-position:0 -3392px;}
.pubFlights_as,.pubFlights_AS{background-position:0 -3424px;}
.pubFlights_ha,.pubFlights_HA{background-position:0 -3456px;}
.pubFlights_ah,.pubFlights_AH{background-position:0 -3488px;}
.pubFlights_ak,.pubFlights_AK{background-position:0 -3520px;}
.pubFlights_s7,.pubFlights_S7{background-position:0 -3584px;}
.pubFlights_om,.pubFlights_OM{background-position:0 -3616px;}
.pubFlights_sa,.pubFlights_SA{background-position:0 -3648px;}
.pubFlights_mk,.pubFlights_MK{background-position:0 -3712px;}
.pubFlights_md,.pubFlights_MD{background-position:0 -3744px;}
.pubFlights_ws,.pubFlights_WS{background-position:0 -3776px;}
.pubFlights_fe,.pubFlights_FE{background-position:0 -3808px;}
.pubFlights_kc,.pubFlights_KC{background-position:0 -3872px;}
.pubFlights_2p,.pubFlights_2P{background-position:0 -3904px;}
.pubFlights_5j,.pubFlights_5J{background-position:0 -3936px;}
.pubFlights_u6,.pubFlights_U6{background-position:0 -3968px;}
.pubFlights_tz,.pubFlights_TZ{background-position:0 -4000px;}
.pubFlights_tr,.pubFlights_TR{background-position:0 -4032px;}
.pubFlights_tt,.pubFlights_TT{background-position:0 -4032px;}
.pubFlights_dg,.pubFlights_DG{background-position:0 -4064px;}
.pubFlights_ri,.pubFlights_RI{background-position:0 -4096px;}
.pubFlights_sv,.pubFlights_SV{background-position:0 -4128px;}
.pubFlights_y4,.pubFlights_Y4{background-position:0 -4160px;}
.pubFlights_4u,.pubFlights_4U{background-position:0 -4192px;}
.pubFlights_6e,.pubFlights_6E{background-position:0 -4224px;}
.pubFlights_ap,.pubFlights_AP{background-position:0 -4256px;}
.pubFlights_b6,.pubFlights_B6{background-position:0 -4288px;}
.pubFlights_be,.pubFlights_BE{background-position:0 -4320px;}
.pubFlights_f9,.pubFlights_F9{background-position:0 -4352px;}
.pubFlights_fr,.pubFlights_FR{background-position:0 -4384px;}
.pubFlights_fy,.pubFlights_FY{background-position:0 -4416px;}
.pubFlights_g4,.pubFlights_G4{background-position:0 -4448px;}
.pubFlights_g8,.pubFlights_G8{background-position:0 -4480px;}
.pubFlights_ig,.pubFlights_IG{background-position:0 -4512px;}
.pubFlights_jt,.pubFlights_JT{background-position:0 -4544px;}
.pubFlights_mm,.pubFlights_MM{background-position:0 -4576px;}
.pubFlights_sg,.pubFlights_SG{background-position:0 -4608px;}
.pubFlights_u2,.pubFlights_U2{background-position:0 -4640px;}
.pubFlights_va,.pubFlights_VA{background-position:0 -4672px;}
.pubFlights_vx,.pubFlights_VX{background-position:0 -4704px;}
.pubFlights_vy,.pubFlights_VY{background-position:0 -4736px;}
.pubFlights_x3,.pubFlights_X3{background-position:0 -4768px;}
/*international ICON end*/
